{% extends "::front.html.twig" %}

{% trans_default_domain "interface" %}

{% block page_content %}

    {% block search_results '' %}


        {% block page_header %}
        {% endblock %}


        {% block filter_block %}
            {% if form is defined %}
                <section class="container-fluid container-fixed-lg bg-master-lightest">
                    <div class="container large-container">
                        <div class="cold-md-12">
                            <div class="panel panel-default portlet m-t-30">
                                <div class="panel-body bg-master-light">
                                    {{ form_start(form, {'action': filter_url, 'method': 'POST', 'attr': { 'novalidate': 'novalidate', 'class': 'filter' } }) }}
                                    {% block filters %}{{ form_row(form) }}{% endblock %}
                                    <div class="btn-toolbar text-center m-t-20" role="toolbar">
                                        <button type="submit" id="btn-filter" class="btn btn-primary btn-lg btn-filter-inversed">{{ 'interface.search'|trans({}, "interface") }}</button>
                                        <button type="submit" class="btn btn-default btn-lg" name="_reset">{{ 'interface.clear'|trans({}, "interface") }}</button>
                                    </div>
                                    {{ form_rest(form) }}
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            {% endif %}
        {% endblock %}


        {% block main_content %}
            {# ELEMENT DISPLAY #}
            <section class="container-fluid container-fixed-lg bg-master-lightest">
                <div class="container large-container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-transparent">
                                <div class="panel-body">
                                {% if pagination|length %}
                                    {% block table %}
                                        <div class="table-responsive" style="overflow:visible">
                                            <table class="{% block table_class %}entity-table table table-striped table-condensed{% endblock %}">
                                                <thead>
                                                {% block table_head %}{% endblock %}
                                                </thead>
                                                <tbody>
                                                {% for entity in pagination %}
                                                    {% block table_body %}{% endblock %}
                                                {% endfor %}
                                                </tbody>

                                                {% set table_footer = block('table_footer')|default('') %}
                                                {% if table_footer %}
                                                    <tfoot>{{ table_footer|raw }}</tfoot>
                                                {% endif %}
                                            </table>

                                            {% include 'WelcomangoCoreBundle:CRUD:pagination.html.twig' with {
                                            'path': pager_url,
                                            'pagination': pagination,
                                            'number_per_page': number_per_page|default(false)
                                            } %}

                                        </div>
                                    {% endblock %}
                                {% else %}
                                    {% block no_results %}
                                        <div class="alert text-center">
                                            <strong>{{ 'interface.noresult'|trans({}, "admin") }}</strong>
                                        </div>
                                    {% endblock %}
                                {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endblock %}

        {% block additionnal_content '' %}
        {% endblock %}


        {% block javascripts %}
            {{ parent() }}
            {#<script type="text/javascript">
                $(function(){
                    $('.portlet').portlet();
                });
            </script>#}
        {% endblock %}

