{% extends "::front.html.twig" %}

{% block page_content %}
    <section class="p-b-50 p-t-50 bg-master-lighter sm-no-margin">
        <div class="container p-b-70 p-t-30">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <i class="fa {{ icon|default('fa-meh-o') }} veryBigIcon text-primary"></i>
                        <h1 class="col-sm-12 p-b-10">{{ title|default('Hm. You were not supposed to do that.') }}</h1>
                        <p class="font-arial m-t-30"><span class="hint-text">{{ message|default('Let us know if something went wrong or just return to your stuff') }}</span></p>
                        {# TODO path to replace once the contact and report pages are done #}
                        <a href="{{ path('front_homepage') }}" class="btn btn-lg btn-info btn-cons m-t-20"><i class="fa fa-exclamation-triangle "></i> Report Problem</a>
                        <a href="{{ return_path|default(path('front_homepage')) }}" class="btn btn-lg btn-primary btn-cons m-t-20"><i class="fa fa-arrow-left "></i> {{ return_message|default('Go back to website') }}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}