{% extends "::admin.html.twig" %}

{% trans_default_domain "crm" %}

{% block actions %}
    {# {{ button.create(path('user_create'), 'user.create'|trans) }}#}
{% endblock %}

{% set pager_url = path('admin_user_list') %}
{% set number_per_page = false %}
{#{% set filter_url = path('users_filters') %}#}

{% block filters %}
    {# {% include "YproxAdminCrmBundle:User:filter.html.twig" %}#}
{% endblock %}

{% block no_results %}
    <div class="alert">
        <strong>{{ 'interface.noresult'|trans({}, "interface") }}</strong>
    </div>
{% endblock %}

{% block table_head %}
    <tr>
        <th style="width: 30%;">{{ knp_pagination_sortable(pagination, 'user.username'|trans, 'u.username')|raw }}</th>
        <th>{{ "user.roles"|trans }}</th>
        <th>{{ knp_pagination_sortable(pagination, 'user.last_login'|trans, 'u.lastLogin')|raw }}</th>
        <th style="width: 8%">{{ knp_pagination_sortable(pagination, 'user.is_active'|trans, 'u.enabled')|raw }}</th>
        <th>{{ "interface.actions"|trans }}</th>
    </tr>
{% endblock %}

{% block page_content %}
    <h2>This page need to be templated because it's ugly (really ugly)</h2>
{% endblock %}

{% block table_body %}
    {% include "WelcomangoAdminCrmBundle:User:_userRow.html.twig" with { 'user' : entity } %}
{% endblock %}


{% block additionnal_content %}
    {# render(controller("YproxAdminCrmBundle:User:usersByLastLogin")) #}
{% endblock %}

{% block dashboard_search %}
    <input id="user_search" name="" type="text" class="no-boarder" placeholder="{{ "search.user"|trans }}" style="width:250px;">
{% endblock %}

{% block search_results %}
    <div id="user_results"></div>
{% endblock %}

{% block extra_actions %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var timeout;
        $(document).ready(function () {
            $('#user_search').val('');
            $('#user_search').on('keyup', function (event) {
                var query = $(this).val();

                clearTimeout(timeout);

                if (query.length > 2) {
                    timeout = setTimeout(function() {
                        $('#spinner').css('display', 'inline');
                        $.post("{{ path('admin_user_search_ajax') }}", {'query': query}, function (response) {
                            $('#spinner').css('display', 'none');
                            $('#user_results').html(response);
                        }, 'html');
                    }, 500);
                }
            });

            $('.form-filter-select2').select2({
            });
        });
    </script>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
