{% extends "FOSUserBundle:Profile:show.html.twig" %}

{% form_theme ratingForm with ["::frontTheme.html.twig"] %}

{% block profile_content %}

    {% if user.getExperiences.isEmpty %}
        <div class="row" >
            <div class="col-md-12 text-center m-t-20 p-b-30 bg-white b-a b-grey">
                <h2 >Oops</h2>
                <i class="fa fa-meh-o fa-5x m-b-20"></i>
                <p>{{ 'booking.noExperienceCreated' }}</p>
                <a href={{ path('front_experience_create') }} class="m-t-20 btn btn-primary"><i class="fa fa-plus fa-lg m-r-5"></i>{{ 'booking.createExperience' }}</a>
            </div>
        </div>
    {% else %}
        <div class="text-center m-b-20">
            <h2>{{ 'booking.requestReceivedFor'|trans }}</h2>
            <h4>
                {% for experience in user.experiences %}
                    <a class="text-primary" href="{{ path('front_experience_view', {'experience_id': experience.id}) }}">{{ experience.title }}</a>
                    {% if not loop.last %} & {% endif %}
                {% endfor %}
            </h4>
        </div>

        <div class="row m-b-20">
            <div class="col-md-6 text-right"><a id="participation-pending-filter" class="btn btn-dark {%  if activeTab == 'received' %}btn-primary{% endif %}" onClick="filterStatus(this, 'received'); toggleFilterClass(this);">Pending</a></div>
            <div class="col-md-6 text-left"><a id="participation-happened-filter" class="btn btn-dark {%  if activeTab == 'happened' %}btn-primary{% endif %}" onClick="filterStatus(this, 'happened'); toggleFilterClass(this);">Happened</a></div>
        </div>

        <!-- NOTE: if we want to add an effect on the content display, we shall use div instead of table. See bellow -->
        <div class="panel panel-default portlet">
            <!-- TABLE OF REQUEST RECEIVED FOR THE USER EXPERIENCE -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="entity-table table table-condensed">
                        <thead>
                        <tr>
                            <th class="col-md-3" >{{ 'booking.user'|trans }}</th>
                            {% if activeTab == 'received' %}
                                <th class="col-md-2">{{ 'booking.requestedTime'|trans  }}</th>
                            {% else %}
                                <th class="col-md-2">{{ 'booking.date'|trans }}</th>
                            {% endif %}
                            <th class="col-md-2">{{ 'booking.status'|trans }}</th>
                            <th class="col-md-2">{{ 'booking.controls'|trans }}</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for booking in bookings %}
                            {% set extraClass = '' %}
                            {% set extraClassDetails = '' %}
                            {% if booking.status == 'Requested' %}
                                {% set extraClass = 'participation-row-bold info' %}
                                {% set extraClassDetails = 'participation-row-bold' %}
                            {% elseif booking.status == 'Refused' %}
                                {% set extraClass = 'participation-row-refused' %}
                                {% set extraClassDetails = 'participation-row-refused' %}
                            {% endif %}
                            <tr class="participation-row clickable table-details hover-bg-master-lightest hover-pointer {{ extraClass|default('') }}" onClick="rowToggle(this, {{ booking.id }}, event)">
                                <td class="col-md-4 semi-bold">
                                    {{ display_avatar(booking.user, true, false, 'front-menu-user-picture m-r-10') }}
                                    {{ booking.user.firstname }} {{ booking.user.lastname }}
                                </td>
                                {% if booking.status != 'Happened' %}
                                    <td class="col-md-2">{{ booking.createdAt|time_diff  }}</td>
                                {% else %}
                                    <td class="col-md-2">{{ booking.startDatetime|date('d-m-Y')  }}</td>
                                {% endif %}
                                <td class="col-md-2 {% if booking.status == 'Accepted' %}text-success bold{% endif %}">{{ booking.status }}</td>
                                <td class="col-md-2">
                                    {{ request_action(booking, user) }}
                                    {% if booking.status == 'Happened' and booking.travelerNote %}
                                        {{ include("WelcomangoCoreBundle:Core:note.html.twig", { 'note': booking.travelerNote, 'size': 'small'}) }}
                                    {% elseif booking.status == 'Happened' %}
                                        <a class="btn btn-sm btn-complete" data-toggle="modal" data-target=".modal-rating" onClick="updateRatingModal('{{ path('booking_rate', {'booking_id' : booking.id, 'view': 'booking_received_list' }) }}')">Rate</a>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr class="participation_details_{{ booking.id }} {{ extraClassDetails|default('') }}" style="display: none">
                                <td colspan="4">
                                    <div class="row">
                                        <div class="col-md-12 semi-bold text-center m-b-20">
                                            {{ 'booking.requestFrom'|trans }}
                                            <a href="{{ asset(path('front_user_view', {'user_id': booking.user.id})) }}" class="text-primary semi-bold">
                                                {{ booking.user.firstname }} {{ booking.user.lastname }}
                                            </a> for <span class="text-primary">{{ booking.startDatetime|date('d-m-Y')  }}</span>
                                        </div>
                                    </div>
                                    <div class="row m-b-10">
                                        <div class="col-md-6">
                                            <div>
                                                <i class="fa fa-user p-r-5"></i>
                                                <span class="semi-bold">{{ booking.numberOfParticipants }}</span> {{ 'booking.participants'|trans }}
                                            </div>
                                            <div><i class="fa fa-street-view p-r-5"></i>
                                                {{ 'booking.meetingAt'|trans }}: <span class="semi-bold">{{ booking.startDatetime|date('H:i') }}</span></div>
                                            <div><i class="fa fa-clock-o "></i>
                                                {{ 'booking.duration'|trans }}: <span class="semi-bold">{{ date_difference(booking.startDatetime, booking.endDatetime) }}</span></div>
                                            <div><i class="fa fa-globe p-r-5"></i>
                                                {{ 'booking.experiencesAttendedBy'|trans }}: <span class="semi-bold">{{ booking.user.getAttendedExperiences|length }}</span></div>
                                        </div>
                                        <div class="col-md-6">
                                            {% if activeTab == 'happened'  %}
                                                {% set commentFound = false %}
                                                {% if booking.status == 'Happened' %}
                                                    {% if booking.comments is not empty %}
                                                        {% for comment in booking.comments %}
                                                            {% if comment.receiver == user %}
                                                                {% set commentFound = true %}
                                                                <div style="font-style: italic; white-space:normal">"{{ comment.body|nl2br|raw }}"</div>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                {% endif %}
                                                {% if not commentFound %}
                                                    <div class="text-center p-t-20">{{ 'booking.noComment'|trans }}</div>
                                                {% endif %}
                                            {% else %}
                                                <div class="text-center m-t-20"><a href="{{ path('booking_received_view', {'booking_id' : booking.id}) }}"  class="btn btn-complete">{{ 'booking.viewRequest'|trans }}</a></div>
                                            {% endif %}
                                        </div>
                                        {% if activeTab == 'happened'  %}
                                            <div class="col-md-12 m-t-10 text-center">
                                                <a href="{{ path('booking_received_view', {'booking_id' : booking.id}) }}">{{ 'booking.viewRequest'|trans }}</a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% include 'WelcomangoCoreBundle:CRUD:pagination.html.twig' with {
                    'path': path('booking_received_list'),
                    'pagination': bookings
                    } %}

                    {% if bookings.count == 0 %}
                        <div class="col-md-12 text-center alert alert-warning"><i class="fa fa-frown-o m-r-5"></i>{{ 'booking.noRequestFound' }}</div>
                    {% endif %}

                </div>
            </div>
        </div>

       {# <div class="panel panel-default portlet">
            <!-- TABLE OF REQUEST RECEIVED FOR THE USER EXPERIENCE -->
            <div class="panel-body" id="profile_request_received">
                <div class="">
                    <div class="row">
                        <div class="participation-list-header">
                            <div class="col-md-4">{{ 'participation.user'|trans }}</div>
                            <div class="col-md-2">{{ 'participation.requestedTime'|trans }}</div>
                            <div class="col-md-3">{{ 'participation.date'|trans }}</div>
                            <div class="col-md-3">{{ 'participation.controls'|trans }}</div>
                        </div>
                    </div>
                    {% for participation in participations %}
                        <div class="row clickable table-details" data-toggle="collapse" data-target=".participation_details_{{ participation.id }}" onClick="rowToggle(this)">
                            <div class="col-md-4 semi-bold">
                                {% if participation.user.getMedias.first %}
                                    <img src='{{ asset(participation.user.getMedias.first.getWebPath) }}' class='front-menu-user-picture m-r-10' />
                                {% else %}
                                    <img src='{{ asset("img/front/faces/face" ~ random(8) ~ ".jpg") }}' class='front-menu-user-picture m-r-10' />
                                {% endif %}
                                {{ participation.user.firstname }} {{ participation.user.lastname }}
                            </div>
                            <div class="col-md-2">{{ participation.createdAt|time_diff  }}</div>
                            <div class="col-md-3">{{ participation.date|date('d-m-Y')  }}</div>
                            <div class="col-md-3">
                                {{ request_action(participation) }}
                                {{ participation.status }}
                            </div>
                        </div>
                        <div class="collapse out participation_details_{{ participation.id }}">
                            <div class="row">
                                <div class="col-md-12 semi-bold text-center">
                                    {{ 'participation.requestFrom'|trans }}
                                    <a href="{{ asset(path('front_user_view', {'user_id': participation.user.id})) }}" class="text-primary semi-bold">
                                        {{ participation.user.firstname }} {{ participation.user.lastname }}
                                    </a>
                                </div>
                                <div class="col-md-12 semi-bold m-b-10">{{ 'participation.requestDetails'|trans }}</div>
                                <div class="col-md-4"><span class="semi-bold">{{ participation.numberOfParticipants }}</span> {{ 'participation.participants'|trans }}</div>
                                <div class="col-md-4">{{ 'participation.meetingAt'|trans }}: <span class="semi-bold">{{ participation.startTime|date('H:i') }}</span></div>
                                <th class="col-md-2">{{ 'participation.duration'|trans }}</th>
                                <td class="col-md-2 text-center">{{ date_difference(participation.startTime, participation.endTime) }}</td>
                                <div class="col-md-4"></div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% if participations.count == 0 %}
                    <div class="col-md-12 text-center alert alert-warning"><i class="fa fa-frown-o m-r-5"></i>{{ 'participation.noRequestFound' }}</div>
                {% endif %}
                {% include 'WelcomangoCoreBundle:CRUD:pagination.html.twig' with {
                'path': path('participation_received_list'),
                'pagination': participations
                } %}
            </div>
        </div>#}

        <!-- BEGIN DELETE CONFIRMATION MODAL -->
        {{ include("WelcomangoCoreBundle:Core:modal.html.twig", {
            'title': 'Are you sure you want to refuse this request?',
            'main_text': 'If you have not yet exchanged with this person, please send him a little message.',
            'valid_button_name': 'Decline',
            'icon': 'fa-times-circle '
        })}}
        <!-- END DELETE CONFIRMATION MODAL -->

        <!-- BEGIN RATING MODAL -->
        {{ include("WelcomangoBookingBundle:Booking:_ratingModal.html.twig", {
            'form' : ratingForm,
        })}}
        <!-- END RATING MODAL -->

    {% endif %}

{% endblock profile_content %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        //JS To update modal content according to the participation we want to update
        function updateModal(route){
            $('#modal-delete-button').attr("href", route);
        }

        function updateRatingModal(route){
            $('#front_rating_comment').attr("action", route);
        }

        function rowToggle(element, id, event){
            if(event.target.nodeName.toLowerCase() == "i" || event.target.nodeName.toLowerCase() == "a") return;
            $(element).toggleClass('shown');
            $('.participation_details_'+id).toggle();
        }

        function filterStatus(element, display){
            if($(element).hasClass('btn-primary')) { return }
            else{
                var route = "{{ path('booking_received_list', { 'display': "PLACEHOLDER"}) }}";
                window.location = route.replace("PLACEHOLDER", display); ;
            }
        }

        function toggleFilterClass(element){
            if($(element).hasClass('btn-primary')) { return }
            else{
                $('#participation-pending-filter').toggleClass('btn-primary');
                $('#participation-happened-filter').toggleClass('btn-primary');
                $('#profile-request-received').toggle();
                $('#profile-request-happened').toggle();
            }
        }

    </script>
{% endblock %}