{% extends "FOSUserBundle:Profile:show.html.twig" %}

{% trans_default_domain "interface" %}

{% block profile_content %}

    {% block booking_title %}
        <div class="text-center m-b-20">
            <h2>{{ 'booking.bookingFor'|trans({'%title%': booking.experience.title,'%city%': booking.experience.city.getName})|raw }}</h2>
            <div class="hint">{{ 'booking.requestSentExplanation' }}</div>
        </div>
    {% endblock %}

    {% block booking_actions %}
        {% set statusClass = '' %}
        {% if booking.status == 'Happened' %}
            {% set statusClass = 'text-black' %}
        {% elseif booking.status == 'Accepted' %}
            {% set statusClass = 'text-success' %}
        {% elseif booking.status == 'Refused' %}
            {% set statusClass = 'text-danger' %}
        {% else %}
            {% set statusClass = 'text-complete' %}
        {% endif %}

        <div class="row bg-white panel panel-default p-l-20 p-r-20 p-b-10">
            <div class="col-md-6">
                <h4 class="p-t-10">
                    {{ 'booking.status'|trans }} <span class="bold {{ statusClass }}">{{ booking.status }}</span>
                </h4>
            </div>
            <div class="col-md-6 text-right p-t-15">
                {{ request_action(booking, user, 3, 'view') }}
            </div>
        </div>
    {% endblock %}

    {% block booking_review %}
    {% endblock %}

    {% block booking_details %}
        <!-- BOOKING SUMMARY BEGIN -->
        <div class="row bg-white panel panel-default p-l-20 p-b-20 p-t-20">
            <div class="col-md-6">
                <div>
                    <i class="fa fa-user p-b-10"></i>
                    {{ 'booking.participants'|trans({'%number%': booking.numberOfParticipants })|raw }}
                </div>
                <div >
                    <i class="fa fa-street-view  p-b-10"></i>
                    {{ 'booking.meetingAt'|trans({'%time%': booking.startDatetime|date('H:i') })|raw }}
                </div>
                <div>
                    <i class="fa fa-clock-o p-b-10 "></i>
                    {{ 'booking.duration'|trans({'%duration%':date_difference(booking.startDatetime, booking.endDatetime)})|raw }}
                </div>
                <div>
                    <i class="fa fa-globe "></i>
                    {{ 'booking.experiencesAttendedBy'|trans({'%number%':booking.user.getAttendedExperiences|length })|raw }}
                </div>
            </div>
            <div class="col-md-6 text-center">
                <div class="bold m-b-10">Meeting booked on {{ booking.startDatetime|date('d-m-Y') }}</div>
                <i class="fa fa-calendar-o fa-5x "></i>
            </div>
        </div>
        <!-- BOOKING SUMMARY END -->
    {% endblock  %}

    {% block experience_details %}
        <!-- BOOKING EXPERIENCE BEGIN -->
        <div class="text-center">
            <a href="{{ path('front_experience_view', {'slug': booking.experience.slug}) }}" class="btn btn-complete btn-xl">{{ 'view.experience'|trans }}</a>
        </div>
        <!-- BOOKING EXPERIENCE END -->
    {% endblock %}


{% endblock profile_content %}