{% extends "WelcomangoBookingBundle:Booking:viewLayout.html.twig" %}

{% trans_default_domain "interface" %}

{% block profile_content %}
    {% block booking_title %}
        <div class="text-center m-b-20">
            <h2>{{ 'booking.bookingFor'|trans({'%title%': booking.experience.title,'%city%': booking.experience.city.getName})|raw }}</h2>
            <div class="hint">{{ 'booking.requestSentExplanation' }}</div>
        </div>
    {% endblock %}

    {% block booking_actions %}
        {{ parent() }}
    {% endblock %}

    {% block booking_details %}
        {{ parent() }}
    {% endblock %}

    {% block experience_details %}
        {{ parent() }}
    {% endblock %}

    <!-- BEGIN DELETE CONFIRMATION MODAL -->
    {{ include("WelcomangoCoreBundle:Core:modal.html.twig", {
        'title': 'Are you sure you want to cancel this request?',
        'main_text': 'If you have not yet exchanged with this person, please send him a little message.',
        'valid_button_name': 'Cancel',
        'icon': 'fa-times-circle '
    })}}

{% endblock profile_content %}