{# Complete with correct informations #}
<div class="{% if column == 4 %}col-sm-3{% elseif column == 3  %}col-sm-4{% endif %}">
    <div id="experience_{{ experience.getId }}" class="card" >
        <a href="{{ path('front_experience_view', {'experience_id' : experience.getId }) }}" >
            <div class="card-clickable"></div>
            <div class="image">
                <img class="" data-src="{{ asset("img/front/places-" ~ random(18) ~ ".jpg") }}" alt="Card image cap">
            </div>
        </a>

        <div class="user">
            <div class="user-item user-img-1">
                <div class="user-info-wrap">
                    <div class="user-info">
                        <div class="user-info-front user-img-1" style="background-image:url({{ asset("img/front/faces/face" ~ random(4) ~ ".jpg") }})"></div>
                        <div class="user-info-back bg-primary-dark" onclick="location.href='{{ path('front_experience_list') }}'">
                            <div class="m-t-45 text-center">
                                <span>View Profile</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-body p-t-0 card-content">
            <div class="panel-title semi-bold">
                {{ experience.getTitle }} with <span class="text-primary-light">{{ experience.getAuthor.firstname }}</span>
            </div>
            <div class="text-center m-b-10">
                in <span class="semi-bold">{% if experience.getCity %}{{ experience.getCity.Name }}{% endif %}</span>
            </div>
            <div class="dotted-line"><span></span></div>
            <div class="text-center">
                {{ experience.getDescription }}
            </div>
        </div>
        <div class="test"></div>
    </div>

</div>

