{% extends "FOSUserBundle:Profile:show.html.twig" %}

{% form_theme form with ["::frontTheme.html.twig"] %}

{#{% form_theme form with ["::frontTheme.html.twig"] %}#}

{% block meta_title %}{{ "profile.editProfile"|trans({}, "interface") }}{% endblock %}

{% trans_default_domain "interface" %}

{% block profile_content %}
    {{ form_errors(form) }}

    <div class=" p-l-10 p-b-10 p-t-10 m-t-20 b-a b-grey profile-form-note m-t-10 bg-master-light">
        {{ 'profile.edit.topMessage'|trans|raw }}
    </div>

    <div id="myFormWizard" class="m-t-20">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-tabs-linetriangle nav-tabs-separator">
            <li class="{% if activeTab == 'current' %}active{% endif %}">
                <a data-toggle="tab" href="#tab1"><i class="fa pg-map tab-icon"></i> <span>Current situation</span></a>
            </li>
            <li class="">
                <a data-toggle="tab" href="#tab2"><i class="fa fa-language tab-icon"></i> <span>Languages</span></a>
            </li>
            <li class=" {% if activeTab == 'about' %}active{% endif %}">
                <a data-toggle="tab" href="#tab3"><i class="fa fa-user tab-icon"></i> <span>About you</span></a>
            </li>
        </ul>
        <!-- Tab panes -->
        {{ form_start(form, {'action': path('fos_user_profile_edit')}) }}
        <div class="tab-content bg-white p-l-20 p-r-20 p-t-20 p-b-20 ">
            <div class="tab-pane {% if activeTab == 'current' %}active{% endif %} slide" id="tab1">
                <div class="row">
                    <div class="profile-form-note m-t-10"><i class="fa pg-map"></i> {{ "profile.edit.currentCityNote"|trans }}</div>
                    <div>{{ form_row(form.currentCityInput, {'attr': {'onFocus':'geolocate()'}}) }}</div>
                    <div class=" profile-form-note m-t-20"><i class="fa fa-pencil-square-o"></i> {{ "profile.edit.descriptionNote"|trans }}</div>
                    <div>{{ form_row(form.description) }}</div>
                    <div class="profile-form-note m-t-20"><i class="fa fa-building"></i> {{ "profile.edit.occupationNote"|trans }}</div>
                    <div>{{ form_row(form.occupation) }}</div>
                </div>
            </div>
            <div class="tab-pane slide" id="tab2">
                <div class="profile-form-note"><i class="fa fa-language"></i> {{ "profile.edit.languageNote"|trans }}</div>
                <ul id="languages" class="languages list-unstyled" data-prototype="{% filter escape %}{% include 'WelcomangoUserBundle:AdminUser:_spokenLanguages.html.twig' with {'form': form.spokenLanguages.vars.prototype } %}{% endfilter %}">
                    {% for language in form.spokenLanguages %}
                        {% include 'WelcomangoUserBundle:AdminUser:_spokenLanguages.html.twig' with {'form': language } %}
                    {% endfor %}
                </ul>
            </div>
            <div class="tab-pane slide {% if activeTab == 'about' %}active{% endif %}" id="tab3">
                <div class="profile-form-note"><i class="fa fa-user"></i> {{ "profile.edit.usernameNote"|trans }}</div>
                <div>{{ form_row(form.username) }}</div>
                <div class="row m-t-20">
                    <div class="col-md-6">{{ form_row(form.firstName) }}</div>
                    <div class="col-md-6">{{ form_row(form.lastName) }}</div>
                </div>
                <div class="row m-t-20">
                    <div class="profile-form-note"><i class="fa fa-envelope-o"></i> {{ "profile.edit.emailNote"|trans }}</div>
                    <div>{{ form_row(form.email) }}</div>
                </div>
                <div class="row">
                    <div class="profile-form-note m-t-20"><i class="fa fa-picture-o"></i> {{ "profile.edit.profilePictureNote"|trans }}</div>
                    <div id="profile-media-croped">
                        {% if user.profileMedia %}
                            <img src="{{ user.profileMedia.getPath ~ user.profileMedia.getOriginalFilename }}"/>
                        {% else %}
                            <div class="text-center" id="profile-upload-message" >{{ 'profile.edit.clickUpload'|trans }}</div>
                        {% endif%}
                    </div>
                    <div class="text-center">
                        {{ form_row(form.media_photo) }}
                    </div>
                </div>
                <div class="profile-form-note m-t-20"><i class="fa fa-phone"></i> {{ "profile.edit.phoneNote"|trans }}</div>
                <div class="row">
                    <div class="col-md-6">{{ form_row(form.phone) }}</div>
                    <div class="col-md-6">{{ form_row(form.gender) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="profile-form-note m-t-20"><i class="fa fa-birthday-cake"></i> {{ "profile.edit.birthdayNote"|trans }}</div>
                        <div class="m-t-20">{{ form_row(form.birthdate) }}</div>
                    </div>
                </div>
                <hr/>
                <div>
                    <a href="" data-toggle='modal' data-target='.modal-change-password'  data-text='Change password'>Change password</a>
                </div>
            </div>

            <div class="text-right m-t-20">
                <a href="{{ path('fos_user_profile_show') }}" class="btn btn-default">{{ 'interface.cancel'|trans({}, "interface") }}</a>
                <button type="submit" class="btn btn-complete">
                    <i class="fa fa-save"></i> {{ 'interface.save'|trans({}, "interface") }}
                </button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

    {% include "WelcomangoMediaBundle:Media:modal.html.twig" %}
    {% include "WelcomangoUserBundle:User:changePasswordModal.html.twig" with {'form': passwordForm } %}

{% endblock profile_content %}

{% block javascripts %}
    {{ parent() }}
    {{ form_javascript(form) }}
    {% include "WelcomangoMediaBundle:Media:_baseJs.html.twig" with {
        'file_input_id' : 'front_user_edit_media_photo',
        'in_modal' : true,
        'id_crop_button' : "modal-save-crop-button",
        'id_croped_media' : 'profile-media-croped'
    } %}
    {% include "WelcomangoUserBundle:AdminUser:_baseJs.html.twig" %}
{#
    {{ include('WelcomangoMediaBundle:AdminMedia:_baseJs.html.twig', {'hiddenInput' : 'front_user_edit_medias_upload'}) }}
#}

    <script type="text/javascript">

        function removeField(obj) {
            $(obj).closest(".spoken_language_row").fadeOut(function () {
                $(this).remove();
            });
        }

        var placeSearch, autocompleteCurrent;

        function initAutocomplete() {
            // Create the autocomplete object, restricting the search to geographical
            // location types.

            var input = document.getElementById('front_user_edit_currentCityInput');
            autocompleteCurrent = new google.maps.places.Autocomplete(input , {types: ['(cities)'], region:'EU'});


            autocompleteCurrent.addListener('place_changed', function(){
                var placeCurrent = autocompleteCurrent.getPlace();

                if(placeCurrent){
                    var currentCity = document.getElementById('front_user_edit_currentCity');
                    var currentCityLat = document.getElementById('front_user_edit_currentCityLat');
                    var currentCityLng = document.getElementById('front_user_edit_currentCityLng');
                    var currentCityState = document.getElementById('front_user_edit_currentCityState');
                    var currentCityCountry = document.getElementById('front_user_edit_currentCityCountry');
                    var currentCityCountryCode = document.getElementById('front_user_edit_currentCityCountryCode');

                    for (var i = 0; i < placeCurrent.address_components.length; i++) {
                        var addressType = placeCurrent.address_components[i].types[0];
                        if (addressType == 'country') {
                            currentCityCountry.value = placeCurrent.address_components[i]['long_name'];
                            currentCityCountryCode.value = placeCurrent.address_components[i]['short_name'];
                        }else if(addressType == 'administrative_area_level_1') {
                            currentCityState.value = placeCurrent.address_components[i]['long_name'];
                        }else if(addressType == 'locality') {
                            currentCity.value = placeCurrent.address_components[i]['long_name'];
                        }
                    }
                    currentCityLat.value = placeCurrent.geometry.location.lat();
                    currentCityLng.value = placeCurrent.geometry.location.lng();
                }
            });
        }

        // Bias the autocomplete object to the user's geographical location,
        // as supplied by the browser's 'navigator.geolocation' object.
        function geolocate() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    var geolocation = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                });
            }
        }

    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAt6eHUKQPmViopocNUR0iShUiKK72dj7g&&signed_in=true&libraries=places&callback=initAutocomplete" async defer></script>

    <script>
        $(document).ready(function() {
            $('#myFormWizard').bootstrapWizard({
                onTabShow: function(tab, navigation, index) {
                    var $total = navigation.find('li').length;
                    var $current = index + 1;

                    // If it's the last tab then hide the last button and show the finish instead
                    if ($current >= $total) {
                        $('#myFormWizard').find('.pager .next').hide();
                        $('#myFormWizard').find('.pager .finish').show();
                        $('#myFormWizard').find('.pager .finish').removeClass('disabled');
                    } else {
                        $('#myFormWizard').find('.pager .next').show();
                        $('#myFormWizard').find('.pager .finish').hide();
                    }

                    var li = navigation.find('li.active');

                    var btnNext = $('#myFormWizard').find('.pager .next').find('button');
                    var btnPrev = $('#myFormWizard').find('.pager .previous').find('button');
                }
            });
        });

        //Close the datepicker when a date is selected
        $('#front_experience_availabilities_0_end_date').on('changeDate', function(ev){
            $(this).datepicker('hide');
        });
        $('#front_experience_availabilities_0_start_date').on('changeDate', function(ev){
            $(this).datepicker('hide');
        });

        //PROFILE PICTURE
        //Trigger the ipunt button when clicking the dropzone
        $('#profile-media-croped').click(function(){
            $('#front_user_edit_media_photo').trigger('click');
        });

    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("css/Jcrop.min.css") }}"/>
{% endblock %}
