{% extends "FOSUserBundle:Profile:show.html.twig" %}

{% form_theme form with ["::frontTheme.html.twig"] %}

{#{% form_theme form with ["::frontTheme.html.twig"] %}#}

{% block meta_title %}{{ "profile.editProfile"|trans({}, "interface") }}{% endblock %}

{% block profile_content %}
    {{ form_errors(form) }}

    {#<h2>{{ 'profile.editYourInformations'|trans }}</h2>
    <div id="profile-edit-information" class="m-t-20">
        <div class="row">
            <div class="col-md-12 bg-master-lighter">
                {{ form_start(form, {'action': path('fos_user_profile_edit')}) }}
                <h4>{{ 'profile.edit.aboutYou'|trans }}</h4>
                <hr>
                <div class="row">
                    <div class="col-md-12">{{ form_row(form.username) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-6">{{ form_row(form.firstName) }}</div>
                    <div class="col-md-6">{{ form_row(form.lastName) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-6">{{ form_row(form.phone) }}</div>
                    <div class="col-md-4">{{ form_row(form.birthdate) }}</div>
                    <div class="col-md-2">{{ form_row(form.gender) }}</div>

                </div>
                <h4>{{ 'profile.edit.currentSituation'|trans }}</h4>
                <hr>
                <div class="row">
                    <div class="col-md-6">{{ form_row(form.from_city) }}</div>
                    <div class="col-md-6">{{ form_row(form.current_city) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-12">{{ form_row(form.description) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-12">{{ form_row(form.occupation) }}</div>
                </div>
                <div class="row text-right m-b-20">
                    <a href="{{ path('fos_user_profile_show') }}" class="btn btn-default">{{ 'interface.cancel'|trans({}, "interface") }}</a>
                    <button type="submit" class="btn btn-complete">
                     <i class="fa fa-save"></i>{{ 'interface.save'|trans({}, "interface") }}
                    </button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>#}

    <div class="alert alert-info m-t-20">
        <button class="close" data-dismiss="alert"></button>
        This section defines what the other traveler will see from you. <br/>
        Make sure to tell them how you see yourself as a travel as well as a local when you're not on a trip!
    </div>

    <div id="myFormWizard" class="m-t-20">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-tabs-linetriangle nav-tabs-separator">
            <li class="active">
                <a data-toggle="tab" href="#tab1"><i class="fa pg-map tab-icon"></i> <span>Current situation</span></a>
            </li>
            <li class="">
                <a data-toggle="tab" href="#tab2"><i class="fa fa-language tab-icon"></i> <span>Languages</span></a>
            </li>
            <li class="">
                <a data-toggle="tab" href="#tab3"><i class="fa fa-user tab-icon"></i> <span>About you</span></a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content bg-white b-l b-r b-b b-grey">
            <div class="tab-pane active slide" id="tab1">
                {{ form_start(form, {'action': path('fos_user_profile_edit')}) }}
                <div class="row">
                    <div class="col-md-6">{{ form_row(form.from_city) }}</div>
                    <div class="col-md-6">{{ form_row(form.current_city) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-12">{{ form_row(form.description) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-12">{{ form_row(form.occupation) }}</div>
                </div>
            </div>
            <div class="tab-pane slide" id="tab2">
                ...
            </div>
            <div class="tab-pane slide" id="tab3">
                <div class="row">
                    <div class="col-md-12">{{ form_row(form.username) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-6">{{ form_row(form.firstName) }}</div>
                    <div class="col-md-6">{{ form_row(form.lastName) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-6">{{ form_row(form.phone) }}</div>
                    <div class="col-md-4">{{ form_row(form.birthdate) }}</div>
                    <div class="col-md-2">{{ form_row(form.gender) }}</div>
                </div>

            </div>

            <div class="text-right m-t-20">
                <a href="{{ path('fos_user_profile_show') }}" class="btn btn-default">{{ 'interface.cancel'|trans({}, "interface") }}</a>
                <button type="submit" class="btn btn-complete">
                    <i class="fa fa-save"></i>{{ 'interface.save'|trans({}, "interface") }}
                </button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock profile_content %}

{% block javascripts %}
    {{ parent() }}
    {{ form_javascript(form) }}
    <script>
        $(document).ready(function() {
            $('#myFormWizard').bootstrapWizard({
                onTabShow: function(tab, navigation, index) {
                    var $total = navigation.find('li').length;
                    var $current = index + 1;

                    // If it's the last tab then hide the last button and show the finish instead
                    if ($current >= $total) {
                        $('#myFormWizard').find('.pager .next').hide();
                        $('#myFormWizard').find('.pager .finish').show();
                        $('#myFormWizard').find('.pager .finish').removeClass('disabled');
                    } else {
                        $('#myFormWizard').find('.pager .next').show();
                        $('#myFormWizard').find('.pager .finish').hide();
                    }

                    var li = navigation.find('li.active');

                    var btnNext = $('#myFormWizard').find('.pager .next').find('button');
                    var btnPrev = $('#myFormWizard').find('.pager .previous').find('button');

                    // remove fontAwesome icon classes
                    function removeIcons(btn) {
                        btn.removeClass(function(index, css) {
                            return (css.match(/(^|\s)fa-\S+/g) || []).join(' ');
                        });
                    }

                    if ($current > 1 && $current < $total) {

                        var nextIcon = li.next().find('.fa');
                        var nextIconClass = nextIcon.attr('class').match(/fa-[\w-]*/).join();

                        removeIcons(btnNext);
                        btnNext.addClass(nextIconClass + ' btn-animated from-left fa');

                        var prevIcon = li.prev().find('.fa');
                        var prevIconClass = prevIcon.attr('class').match(/fa-[\w-]*/).join();

                        removeIcons(btnPrev);
                        btnPrev.addClass(prevIconClass + ' btn-animated from-left fa');
                    } else if ($current == 1) {
                        // remove classes needed for button animations from previous button
                        btnPrev.removeClass('btn-animated from-left fa');
                        removeIcons(btnPrev);
                    } else {
                        // remove classes needed for button animations from next button
                        btnNext.removeClass('btn-animated from-left fa');
                        removeIcons(btnNext);
                    }
                }
            });
        });
    </script>
{% endblock %}