{# Complete with correct informations #}
<tr>
    <td>
{#        {% include "YproxAdminCrmBundle:User:_userLink.html.twig" %}#}
        {{ participation.getId }}
    </td>
    <td>
        {%  if participation.getIsCreator %} {{ 'participation.proposedBy'|trans }}
        {% else %} {{ 'participation.requestedBy'|trans }}
        {% endif %}
    </td>
    <td>
        {{ participation.getUser.getFullName }}
    </td>
    <td>
        {{ participation.getNumberOfParticipants }}
    </td>
    <td>
        {{ participation.getDate|date('Y-m-d')  }}
    </td>
    <td>
        {{ participation.getStartTime|date('H:i')  }}
    </td>
    <td>
        {{ participation.getEndTime|date('H:i')  }}
    </td>
    <td>
        {{ participation.getStatus }}
    </td>
    <td>
        {% spaceless %}
            <div class="btn-toolbar">
                {{ button.edit(path('admin_participation_edit', {'participation_id': participation.id}), false, "btn-xs") }}
                {{ button.delete(path('admin_participation_delete', {'participation_id': participation.id}), null, "btn-xs") }}
            </div>
        {% endspaceless %}
    </td>
</tr>

