{% extends "WelcomangoCoreBundle:AdminCRUD:index.html.twig" %}

{% trans_default_domain "crm" %}

{% block actions %}
    {{ button.create(path('admin_participation_create'), 'participation.create'|trans) }}
{% endblock %}

{% set pager_url = path('admin_participation_list') %}
{% set number_per_page = false %}
{#{% set filter_url = path('experience_filters') %}#}

{% block filters %}
    {# {% include "YproxAdminCrmBundle:Experience:filter.html.twig" %}#}
{% endblock %}

{% block no_results %}
    <div class="alert">
        <strong>{{ 'interface.noresult'|trans({}, "interface") }}</strong>
    </div>
{% endblock %}

{% block table_head %}
    <tr>
        <th class="col-md-1">{{ knp_pagination_sortable(pagination, 'participation.id'|trans, 'p.id')|raw }}</th>
        <th class="col-md-2">{{ "participation.userStatus"|trans }}</th>
        <th class="col-md-2">{{ knp_pagination_sortable(pagination, 'participation.user'|trans, 'p.user')|raw }}</th>
        <th class="col-md-1">{{ 'participation.numberOfParticipants'|trans }}</th>
        <th class="col-md-1">{{ 'participation.date'|trans }}</th>
        <th class="col-md-1">{{ 'participation.startTime'|trans }}</th>
        <th class="col-md-1">{{ 'participation.endTime'|trans }}</th>
        <th>{{ "participation.status"|trans }}</th>
        <th>{{ "interface.actions"|trans }}</th>
    </tr>
{% endblock %}

{% block table_body %}
    {% include "WelcomangoParticipationBundle:AdminParticipation:_participationRow.html.twig" with { 'participation' : entity } %}
{% endblock %}

{% block additionnal_content %}
    {# render(controller("YproxAdminCrmBundle:Experience:experiencesByLastLogin")) #}
{% endblock %}

{% block dashboard_search %}
    <input id="experience_search" name="" type="text" class="no-boarder" placeholder="{{ "search.participation"|trans }}" style="width:250px;">
{% endblock %}

{% block search_results %}
    <div id="experience_results"></div>
{% endblock %}

{% block extra_actions %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
/*
        var timeout;
        $(document).ready(function () {
            $('#participation_search').val('');
            $('#participation_search').on('keyup', function (event) {
                var query = $(this).val();

                clearTimeout(timeout);

                if (query.length > 2) {
                    timeout = setTimeout(function() {
                        $('#spinner').css('display', 'inline');
                        $.post("{{ path('admin_participation_search_ajax') }}", {'query': query}, function (response) {
                        $.post("{{ path('admin_participation_search_ajax') }}", {'query': query}, function (response) {
                            $('#spinner').css('display', 'none');
                            $('#participation_results').html(response);
                        }, 'html');
                    }, 500);
                }
            };

            $('.form-filter-select2').select2({
            });
        });*/
    </script>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
