{# Complete with correct informations #}
<tr>
    <td>
{#        {% include "YproxAdminCrmBundle:User:_userLink.html.twig" %}#}
        {{ user.getFullName }}
    </td>
    <td>
        {% set roles = user.roles %}
        {% for role in roles %}
            {{ display_role_icon(role) }}
        {% endfor %}
    </td>
    <td>
      {#  {{ user.lastLogin ? user.lastLogin|distance_of_time_in_words() : 'interface.never'|trans({}, 'interface') }}#}
    </td>
    <td>
        {% if user.enabled %}
            <i title="{{ 'user.active'|trans({}, 'crm') }}" data-toggle="tooltip" data-placement="top" class="fa fa-check"></i>
        {% else %}
            <i title="{{ 'user.inactive'|trans({}, 'crm') }}" data-toggle="tooltip" data-placement="top" title="Tooltip on left" class="fa fa-times"></i>
        {% endif %}
    </td>
    <td>{% spaceless %}
            <div class="btn-toolbar">
                {{ button.edit(path('admin_user_edit', {'user_id': user.id}), false, "btn-xs") }}
                {{ button.delete(path('admin_user_delete', {'user_id': user.id}), null, "btn-xs") }}
            </div>
        {% endspaceless %}
    </td>
</tr>

