{% extends "::admin.html.twig" %}

{% trans_default_domain "crm" %}

{% set listing = path('admin_user_list') %}
{% form_theme form with ["::theme.html.twig"] %}

{% block page_content %}
    <div class="col-md-12">
        <div class="panel panel-default portlet">
            <div class="panel-body">
                {{ form_start(form, {'action': path('admin_user_edit', {'user_id' : user.id}), 'attr': {'novalidate': 'novalidate' }}) }}
                {% include "WelcomangoUserBundle:AdminUser:form.html.twig" with { 'form': form, 'update': form.vars.id  } %}
                {% include "WelcomangoCoreBundle:Form:formFooter.html.twig" with {'listing' : listing, 'update': form.vars.id } only %}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ form_stylesheet(form) }}
    <link rel="stylesheet" href="{{ asset("css/Jcrop.min.css") }}"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ form_javascript(form) }}
    {% include "WelcomangoMediaBundle:Media:_baseJs.html.twig" with {
    'file_input_id' : 'admin_user_media_profile',
    'id_crop_button' : "modal-save-crop-button",
    'in_modal' : true,
    'id_croped_media' : 'profile-media-croped'
    } %}

    <script type="text/javascript">
        $(function () {
            var $collectionHolder = $('ul.languages');
            var index = $collectionHolder.find(':input').length;

            $collectionHolder.find('ul.languages').each(function () {
                addSpokenLanguageFormDeleteLink($(this));
            });

            var $addTagLink = $('<button type="button" href="#" id="form.add.language" class="add-field-button btn btn-complete pull-right"><i class="fa fa-plus"></i> {{ 'form.add.language'|trans }}</button>');
            var $newLinkLi = $('<li class="clearfix"></li>').append($addTagLink);

            jQuery(document).ready(function () {
                $collectionHolder = $('ul.languages');
                $collectionHolder.append($newLinkLi);

                $collectionHolder.data('index', $collectionHolder.find(':input').length);
                $addTagLink.on('click', function (e) {
                    e.preventDefault();
                    addSpokenLanguageForm($collectionHolder, $newLinkLi);
                });
            });
        });

        function addSpokenLanguageForm($collectionHolder, $newLinkLi) {
            var index = $collectionHolder.find(':input').length;
            var $prototype = $($collectionHolder.attr('data-prototype').replace(/__name__label__/g, 'Adresse').replace(/__name__/g, index));
            $collectionHolder.append($prototype);
            initSelect2Plugin();
        }

        function addSpokenLanguageFormDeleteLink($tagFormLi) {
            var $removeFormA = $('<a href="#">delete this tag</a>');
            $tagFormLi.append($removeFormA);

            $removeFormA.on('click', function (e) {
                e.preventDefault();q

                $tagFormLi.remove();
            });
        }

        var initSelect2Plugin = function () {
            $.fn.select2 && $('[data-init-plugin="select2"]').each(function () {
                $(this).select2({
                    minimumResultsForSearch: ($(this).attr('data-disable-search') == 'true' ? -1 : 1)
                }).on('select2-opening', function () {
                    $.fn.scrollbar && $('.select2-results').scrollbar({
                        ignoreMobile: false
                    })
                });
            });
        }

        function removeField(obj) {
            $(obj).closest(".spoken_language_row").fadeOut(function () {
                $(this).remove();
            });
        }

    </script>
{% endblock %}
