{{ form_errors(form) }}
<ul class="nav nav-tabs nav-tabs-fillup">
    <li class="active"><a data-toggle="tab" href="#general"><span>{{ "user.informations.tab"|trans }}</span></a></li>
    <li><a data-toggle="tab" href="#spokenLanguages"><span>{{ "user.languages.tab"|trans }}</span></a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane active slide-left" id="general">
        <div class="row">
            <div class="col-sm-6">
                {{ form_row(form.username) }}
                {{ form_row(form.email) }}
                <div class="row">
                    <div class="col-md-6">{{ form_row(form.firstName) }}</div>
                    <div class="col-md-6">{{ form_row(form.lastName) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-6">{{ form_row(form.password.first) }}</div>
                    <div class="col-md-6">{{ form_row(form.password.second) }}</div>
                </div>
                {{ form_row(form.medias) }}
                {{ form_row(form.roles, { 'label_helper' :  'admin.faq.email_sender.helper'|trans } ) }}
                <div class="row">
                    <div class="col-md-6">{{ form_row(form.phone) }}</div>
                    <div class="col-md-4">{{ form_row(form.birthdate) }}</div>
                    <div class="col-md-2">{{ form_row(form.gender) }}</div>

                </div>
                <div class="row">
                    <div class="col-md-12">{{ form_row(form.description) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-6">{{ form_row(form.from_city) }}</div>
                    <div class="col-md-6">{{ form_row(form.current_city) }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="é-pane slide-left" id="spokenLanguages">
        <ul id="languages" class="languages"
            data-prototype="{% filter escape %}{% include 'WelcomangoUserBundle:AdminUser:_spokenLanguages.html.twig' with {'form': form.spokenLanguages.vars.prototype } %}{% endfilter %}">
            {% if update is defined %}
            <div id="languages">
                {% for language in form.spokenLanguages %}
                    {% include 'WelcomangoUserBundle:AdminUser:_spokenLanguages.html.twig' with {'form': language } %}
                {% endfor %}
            </div>
        {% endif %}
        </ul>
    </div>
</div>

