{% if display == 'sent' %}
    {% set tableId= 'profile-request-sent' %}
    {% set timeColumnName = 'participation.requestedTime'|trans  %}
{% elseif display == 'happened' %}
    {% set tableId= 'profile-request-happened' %}
    {% set timeColumnName = 'participation.happenedTime'|trans  %}
{% endif %}

{% if activeTab ==  'happened' and  display == 'sent' %}
    {% set tableDisplay = 'display:none' %}
{% elseif activeTab ==  'sent' and  display == 'happened' %}
    {% set tableDisplay = 'display:none' %}
{% endif %}


<table class="entity-table table table-condensed" style="{{ tableDisplay|default('') }}" id="{{ tableId }}">
    <thead>
    <tr>
        <th class="col-md-3">{{ 'participation.experience'|trans }}</th>
        <th class="col-md-1">{{ 'participation.numberOfParticipants'|trans }}</th>
        <th class="col-md-2">{{ 'participation.date'|trans }}</th>
        <th class="col-md-1">{{ 'participation.duration'|trans }}</th>
        <th class="col-md-1">{{ 'participation.time'|trans }}</th>
        <th class="col-md-2">{{ 'participation.status'|trans }}</th>
    </tr>
    </thead>

    <tbody>
    {% for participation in participations %}
        {% set extraClass = '' %}
        {% if participation.status == 'Accepted' %}
            {% set extraClass = 'participation-row-bold success' %}
        {% endif %}
        <tr class="{{ extraClass }}">
            <td class="col-md-3">
                <div class="row">
                    <div class="col-md-3">
                        <a href="{{ asset(path('front_user_view', {'user_id': participation.user.id})) }}">
                            {% if participation.user.getMedias.first %}
                                <img src='{{ asset(participation.user.getMedias.first.getWebPath) }}' class='front-menu-user-picture m-r-10' />
                            {% else %}
                                <img src='{{ asset("img/front/faces/face" ~ random(8) ~ ".jpg") }}' class='front-menu-user-picture m-r-10' />
                            {% endif %}
                        </a>
                    </div>
                    <div class="col-md-9">
                        <div class="requested-experience">
                            <a href="{{ path('front_experience_view', {'experience_id': participation.experience.id}) }}" class="text-black semi-bold ">
                                {{ participation.experience.title }}
                            </a>
                        </div>
                        <div class="requested-experience-user">
                            by <a href="{{ asset(path('front_user_view', {'user_id': participation.experience.getAuthor.id})) }}" class="text-primary ">{{ participation.experience.getAuthor.firstname }}</a>
                        </div>
                    </div>
                </div>
            </td>
            <td class="col-md-1">{{ participation.numberOfParticipants }}</td>
            <td class="col-md-2">{{ participation.date|date('Y-m-d')  }}</td>
            <td class="col-md-1">{{ date_difference(participation.startTime, participation.endTime) }}</td>
            <td class="col-md-1">{{ participation.startTime|date('H:i') }}</td>
            <td class="col-md-2">
                {{ request_action(participation, user) }}
                {% if display == 'happened' %}
                    {{ include("WelcomangoExperienceBundle:Experience:_experienceNote.html.twig", { 'note': participation.experience.getAverageNote, 'size': 'small'}) }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% if participations.count == 0 %}
    <div class="col-md-12 text-center alert alert-warning">
        <i class="fa fa-frown-o m-r-5"></i>{{ 'participation.noRequestFound' }}
        <div><strong><a class="alert-warning" href="{{ path('front_experience_list') }}">{{ 'participation.explore' }}</a></strong></div>
    </div>
{% endif %}
{% include 'WelcomangoCoreBundle:CRUD:pagination.html.twig' with {
'path': path('participation_sent_list'),
'pagination': participations
} %}