{% extends "::admin.html.twig" %}

{% block page_container %}
    {% block search_results '' %}
        {% block filter_block %}
            {% if form is defined %}
                <div class="container-fluid container-fixed-lg">
                    <div class="cold-md-12">
                        <div class="panel panel-default portlet">
                            <div class="panel-heading">
                                <div class="panel-title">{{ "interface.filter.title"|trans({}, "interface") }}</div>
                                <div class="panel-controls">
                                    <a href="#" class="portlet-collapse" data-toggle="collapse"><i class="portlet-icon portlet-icon-collapse"></i></a>
                                </div>
                            </div>
                            <div class="panel-body">
                                {{ form_start(form, {'action': filter_url, 'method': 'POST', 'attr': { 'novalidate': 'novalidate', 'class': 'filter' } }) }}
                                {% block filters %}{{ form_row(form) }}{% endblock %}
                                <div class="btn-toolbar text-right" role="toolbar">
                                    <button type="submit" id="btn-filter" class="btn btn-primary btn-sm btn-filter-inversed">{{ 'interface.filter'|trans({}, "interface") }}</button>
                                    <button type="submit" class="btn btn-default btn-sm" name="_reset">{{ 'interface.reset'|trans({}, "interface") }}</button>
                                </div>
                                {{ form_rest(form) }}
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endblock %}


        {% block main_content %}
            <div class="container-fluid container-fixed-lg">
                <div class="cold-md-12">
                    <div class="panel panel-default portlet">
                        <div class="panel-heading">
                            <div class="panel-title">
                                {% block grid_title %}
                                    {% block pagination_nb_item %}
                                        {{ "interface.total.items"|trans({}, "admin") }}: {{ pagination.totalItemCount|number_format }}
                                    {% endblock %}
                                {% endblock %}
                            </div>
                            <div class="btn-group pull-right m-b-10" role="group">
                                {{ block('actions') }}
                                {% block extra_actions '' %}
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-body">
                        {% if pagination|length %}
                            {% block table %}
                                <div class="table-responsive">
                                    <table class="{% block table_class %}entity-table table table-striped table-condensed{% endblock %}">
                                        <thead>
                                        {% block table_head %}{% endblock %}
                                        </thead>
                                        <tbody>
                                        {% for entity in pagination %}
                                            {% block table_body %}{% endblock %}
                                        {% endfor %}
                                        </tbody>

                                        {% set table_footer = block('table_footer')|default('') %}
                                        {% if table_footer %}
                                            <tfoot>{{ table_footer|raw }}</tfoot>
                                        {% endif %}
                                    </table>

                                    {% include 'WelcomangoCoreBundle:AdminCRUD:pagination.html.twig' with {
                                    'path': pager_url,
                                    'pagination': pagination,
                                    'number_per_page': number_per_page|default(false)
                                    } %}
                                </div>
                            {% endblock %}
                        {% else %}
                            {% block no_results %}
                                <div class="alert text-center">
                                    <strong>{{ 'interface.noresult'|trans({}, "admin") }}</strong>
                                </div>
                            {% endblock %}
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}

            {% block additionnal_content '' %}
            {% endblock %}

            {% block actions %}
                <a href="{{ new_url }}" class="btn btn-success">
                    <i class="fa fa-plus"></i>
                    &nbsp;
                    {{ 'interface.new'|trans({}, "admin") }}
                </a>
            {% endblock %}

            {% block javascripts %}
                {{ parent() }}
                <script type="text/javascript">
                    $(function(){
                        $('.portlet').portlet();
                    });
                </script>
            {% endblock %}
