{% block button_widget %}
    {%- if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
            '%name%': name,
            '%id%': id,
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    <button class="btn btn-complete btn-sm" type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ label|trans({}, translation_domain) }}</button>
{% endblock button_widget %}

{% block genemu_jqueryselect2_hidden_javascript %}
    <script type="text/javascript">
        $(document).ready(function() {
            $field = $('#{{ id }}');

            $configs = $.extend({}, {
                ajax: {
                    quietMillis: 100,
                    url: "{{ path('experience_search_ajax') }}",
                    type: 'POST',
                    data: function (term) {
                        return {
                            query: term,
                        };
                    },
                    results: function (data) {
                        console.log(data);
                        return { results: data };
                    }
                },
                initSelection : function (element, callback) {
                    if ($(element).val() != '') {
                        var params = $(element).val().split(";");
                        callback({id: params[0], text: params[1]});
                        $(element).val(params[0]);
                    }
                }
            });
            $field.select2($configs);
        });
    </script>
{% endblock %}

{% block textarea_widget %}
    {% spaceless %}
        <div class="form-group form-group-default {% if required %}required{% endif %}">
            <label>{{ form_label(form) }}</label>
            {# !!!IMPORTANT!!!  #}
            {# must remove the style tag and place it somewhere appropriate #}
            <textarea class="form-control" {{ block('widget_attributes') }} style="height:200px">{% if value is not empty %}{{ value }} {% endif %}</textarea>
        </div>
    {% endspaceless %}
{% endblock textarea_widget %}

{# Buttons for experience creation #}
{%- block choice_widget_expanded -%}
    <div class="btn-group" data-toggle="buttons" {{ block('widget_container_attributes') }}>
        {%- for child in form %}
            {{ form_widget(child) }}
        {% endfor -%}
    </div>
{%- endblock choice_widget_expanded -%}

{%- block checkbox_widget -%}
    <label class="btn btn-complete {% if checked %}active{% endif %}" {% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        {{ label|trans({}, translation_domain) }}
    </label>
{%- endblock checkbox_widget -%}

{%- block radio_widget -%}
    <label class="btn btn-complete {% if checked %}active{% endif %}" {% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        {{ label|trans({}, translation_domain) }}
    </label>
{%- endblock radio_widget -%}

{%- block medias_widget -%}
    <div id="medias" class="dropzone" style="background-color: lightgray ;height: 300px"></div>
    <input type="hidden" id="mediasListName" {{ block('widget_attributes') }} class="form-control">
{%- endblock medias_widget -%}
