{% block text_widget %}
    <div class="form-group form-group-default {% if required %}required{% endif %}">
        <label>{{ form_label(form) }}</label>
        <input class="form-control" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    </div>
{% endblock text_widget %}

{% block textarea_widget %}
    {% spaceless %}
        <div class="form-group form-group-default {% if required %}required{% endif %}">
            <label>{{ form_label(form) }}</label>
            {# !!!IMPORTANT!!!  #}
            {# must remove the style tag and place it somewhere appropriate #}
            <textarea class="form-control" {{ block('widget_attributes') }} style="height:200px">{% if value is not empty %}{{ value }} {% endif %}</textarea>
        </div>
    {% endspaceless %}
{% endblock textarea_widget %}

{% block integer_widget %}
    {%- set type = type|default('number') -%}
    <div class="form-group form-group-default {% if required %}required{% endif %}">
        <label>{{ form_label(form) }}</label>
        {{ block('form_widget_simple') }}
    </div>
{% endblock integer_widget %}

{% block email_widget %}
    <div class="form-group form-group-default {% if required %}required{% endif %}">
        <label>{{ form_label(form) }}</label>
        <input type="email" class="form-control" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %} placeholder="ex: name@example.com" />
    </div>
{% endblock email_widget %}

{% block password_widget %}
    <div class="form-group form-group-default {% if required %}required{% endif %}">
        <label>{{ form_label(form) }}</label>
        <input type="password" class="form-control" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    </div>
{% endblock password_widget %}


{% block button_widget %}
    {%- if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
            '%name%': name,
            '%id%': id,
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    <button class="btn btn-complete btn-sm" type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ label|trans({}, translation_domain) }}</button>
{% endblock button_widget %}

{% block file_widget %}
    {% spaceless %}
        <div class="btn btn-success file-upload">
            <span>{{ form_label(form) }}</span>
            <input class="file-upload-input" type="{{ type }}" {{ block('widget_attributes') }}/>
        </div>
    {% endspaceless %}
{% endblock %}


{% block genemu_jqueryselect2_hidden_javascript %}
    <script type="text/javascript">
        $(document).ready(function() {
            $field = $('#{{ id }}');

            $configs = $.extend({}, {
                ajax: {
                    quietMillis: 100,
                    url: "{{ path('experience_search_ajax') }}",
                    type: 'POST',
                    data: function (term) {
                        return {
                            query: term,
                        };
                    },
                    results: function (data) {
                        console.log(data);
                        return { results: data };
                    }
                },
                initSelection : function (element, callback) {
                    if ($(element).val() != '') {
                        var params = $(element).val().split(";");
                        callback({id: params[0], text: params[1]});
                        $(element).val(params[0]);
                    }
                }
            });
            $field.select2($configs);
        });
    </script>
{% endblock %}

{% block genemu_jqueryselect2_hidden_widget %}
    <div class="form-group form-group-default form-group-default-select2">
        {{ form_label(form) }}
        {{ block('form_row') }}
    </div>
{% endblock genemu_jqueryselect2_hidden_widget %}


{% block choice_widget_collapsed %}
    <div class="form-group form-group-default form-group-default-select2">
        {{ form_label(form) }}
        <select class="full-width select2-offscreen" data-init-plugin="select2" data-disable-search="true" {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
            {%- if placeholder is not none -%}
                <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder != '' ? placeholder|trans({}, translation_domain) }}</option>
            {%- endif -%}
            {%- if preferred_choices|length > 0 -%}
                {% set options = preferred_choices %}
                {{- block('choice_widget_options') -}}
                {%- if choices|length > 0 and separator is not none -%}
                    <option disabled="disabled">{{ separator }}</option>
                {%- endif -%}
            {%- endif -%}
            {%- set options = choices -%}
            {{- block('choice_widget_options') -}}
        </select>
    </div>
{% endblock choice_widget_collapsed %}

{% block choice_widget_expanded -%}
    {% if '-inline' in label_attr.class|default('') -%}
        <div class="control-group radio radio-primary">
            {%- for child in form %}
                {{- form_widget(child, {
                    parent_label_class: label_attr.class|default(''),
                    translation_domain: choice_translation_domain,
                }) -}}
            {% endfor -%}
        </div>
    {%- else -%}
        {# Buttons for experience creation #}
        <div class="btn-group" data-toggle="buttons" {{ block('widget_container_attributes') }}>
            {%- for child in form %}
                {{- form_widget(child, {
                    parent_label_class: label_attr.class|default(''),
                    translation_domain: choice_translation_domain,
                }) -}}
            {% endfor -%}
        </div>
    {%- endif %}
{%- endblock choice_widget_expanded %}

{%- block checkbox_widget -%}
    <label class="btn btn-complete {% if checked %}active{% endif %}" {% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        {{ label|trans({}, translation_domain) }}
    </label>
{%- endblock checkbox_widget -%}

{# Used for rating #}
{% block radio_widget -%}
    <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %}>
    <label for="{{ id }}">{{ label|trans({}, translation_domain) }}</label>
{%- endblock radio_widget %}

{% block date_widget -%}
    {% if widget == 'single_text' %}
        <div class="form-group form-group-default input-group">
            <label>{{ form_label(form) }}</label>
            {{- block('form_widget_simple') -}}
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        </div>
    {% else -%}
        {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-inline')|trim}) -%}
        {% if datetime is not defined or not datetime -%}
            <div {{ block('widget_container_attributes') -}}>
        {%- endif %}
        {{- date_pattern|replace({
            '{{ year }}': form_widget(form.year),
            '{{ month }}': form_widget(form.month),
            '{{ day }}': form_widget(form.day),
        })|raw -}}
        {% if datetime is not defined or not datetime -%}
            </div>
        {%- endif -%}
    {% endif %}
{%- endblock date_widget %}

{%- block form_row -%}
    <div>
        {{- form_errors(form) -}}
        {{- form_widget(form) -}}
    </div>
{%- endblock form_row -%}

{% block form_label %}
    {% if not compound %}
    {% set label_attr = label_attr|merge({'for': id}) %}
{% endif %}
    {% if required %}
    {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
{% endif %}
    {% if label is empty %}
    {% set label = name|humanize %}
{% endif %}
    <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}</label>
{% endblock form_label %}

