{% trans_default_domain "search" %}

<!-- START OVERLAY -->
<div class="overlay" style="display: none" data-pages="search">
    <!-- BEGIN Overlay Content !-->
    <div class="overlay-content has-results m-t-20">
        <!-- BEGIN Overlay Header !-->
        <div class="container-fluid">
            <!-- BEGIN Overlay Logo !-->
            {% set hasLogo = api_has_logo() %}
            {% if hasLogo is sameas(true) %}
                <a class="text-master" href="{% if site.id is defined %}{{ path('site_config_home', {'site_id' : site.id}) }}{% else %}{{ path('homepage') }}{% endif %}">
                    {{ api_logo_img() }}
                </a>
            {% elseif site.id is not defined %}
                <a class="text-master apiLogoFont {{ api_logo_color() }}" href="{% if site.id is defined %}{{ path('site_config_home', {'site_id' : site.id}) }}{% else %}{{ path('homepage') }}{% endif %}" style="{{ api_logo_height('Y-Proximité') }}">
                    Y-Proximité
                </a>
            {% else %}
                <a class="text-master apiLogoFont {{ api_logo_color() }}" href="{% if site.id is defined %}{{ path('site_config_home', {'site_id' : site.id}) }}{% else %}{{ path('homepage') }}{% endif %}" style="{{ api_logo_height(site.title) }}">
                    {{ site.title|capitalize }}
                </a>
            {% endif %}
            <!-- END Overlay Logo !-->
            <!-- BEGIN Overlay Close !-->
            <a href="#" class="close-icon-light overlay-close text-black fs-16">
            <i class="pg-close"></i>
            </a>
            <!-- END Overlay Close !-->
        </div>
        <!-- END Overlay Header !-->
        <div class="container-fluid">
            <!-- BEGIN Overlay Controls !-->
            <input id="overlay-search" class="no-border overlay-search bg-transparent" placeholder="{{ "placeholder.search"|trans }}..." autocomplete="off" spellcheck="false">
            <br>

            <!-- END Overlay Controls !-->
        </div>
        <!-- BEGIN Overlay Search Results-->
        <div class="container-fluid">
            <div>
                  <div class="inline-block m-l-10">
                      <i class="fa {{ constant('Yprox\\Bundle\\Admin\\CoreBundle\\Twig\\SiteTypeExtension::ICON_ROOT') }}"></i> {{ "root"|trans }}
                  </div>
                  <div class="inline-block m-l-10">
                      <i class="fa {{ constant('Yprox\\Bundle\\Admin\\CoreBundle\\Twig\\SiteTypeExtension::ICON_PLATFORM') }}"></i> {{ "platform"|trans }}
                  </div>
                  <div class="inline-block m-l-10">
                      <i class="fa {{ constant('Yprox\\Bundle\\Admin\\CoreBundle\\Twig\\SiteTypeExtension::ICON_SITE') }}"></i> {{ "site"|trans }}
                  </div>
            </div>
            <div>
                  <div class="inline-block m-l-10 m-t-10">
                      <i class="fa {{ constant('Yprox\\Bundle\\Admin\\CoreBundle\\Twig\\SiteTypeExtension::BILLING_TEST') }}"></i> {{ "billing.test"|trans }}
                  </div>
                  <div class="inline-block m-l-10">
                      <i class="fa {{ constant('Yprox\\Bundle\\Admin\\CoreBundle\\Twig\\SiteTypeExtension::BILLING_TRIAL') }}"></i> {{ "billing.trial"|trans }}
                  </div>
                  <div class="inline-block m-l-10">
                      <i class="fa {{ constant('Yprox\\Bundle\\Admin\\CoreBundle\\Twig\\SiteTypeExtension::BILLING_FREE') }}"></i> {{ "billing.free"|trans }}
                  </div>
                  <div class="inline-block m-l-10">
                      <i class="fa {{ constant('Yprox\\Bundle\\Admin\\CoreBundle\\Twig\\SiteTypeExtension::BILLING_PARTNER') }}"></i> {{ "billing.partner"|trans }}
                  </div>
                  <div class="inline-block m-l-10">
                      <i class="fa {{ constant('Yprox\\Bundle\\Admin\\CoreBundle\\Twig\\SiteTypeExtension::BILLING_IN_DEVELOPMENT') }}"></i> {{ "billing.in_development"|trans }}
                  </div>
                  <div class="inline-block m-l-10">
                      <i class="fa {{ constant('Yprox\\Bundle\\Admin\\CoreBundle\\Twig\\SiteTypeExtension::BILLING_PAYING') }}"></i> {{ "billing.paying"|trans }}
                  </div>
            </div>


            <div id="global-search-results" class="m-t-40">
            </div>
        </div>
        <!-- END Overlay Search Results !-->
    </div>
    <!-- END Overlay Content !-->
</div>
<!-- END OVERLAY -->
