{# Complete with correct informations #}
<tr>
    <td>
{#        {% include "YproxAdminCrmBundle:User:_userLink.html.twig" %}#}
        {{ experience.getTitle }}
    </td>
    <td>
        {{ experience.getDescription }}
    </td>
    <td>
        {{ experience.getEstimatedDuration }}
    </td>
    <td>
        {{ experience.getPricePerHour }}
    </td>
    <td>
        {% if experience.getCity is not null %}
            {{ experience.getCity.Name }}
        {% endif %}
    </td>
    <td>
        {% spaceless %}
            <div class="btn-toolbar">
                {{ button.edit(path('admin_experience_edit', {'experience_id': experience.id}), false, "btn-xs") }}
                {{ button.delete(path('admin_experience_delete', {'experience_id': experience.id}), null, "btn-xs") }}
            </div>
        {% endspaceless %}
    </td>
</tr>

