{% form_theme form with ["::frontTheme.html.twig"] %}

{%  trans_default_domain 'interface' %}

{{ form_start(form, {'action': path('front_experience_view', {'slug' : experience.slug}), 'attr': {'novalidate': 'novalidate' }}) }}

<div>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="row">
                <div class="col-md-12">
                    {% if app.user %}
                        <div class="text-white text-center">
                            <p>Give <span class="text-primary">{{ experience.getCreator.firstname }}</span> a bit more information about your request and send your message</p>
                        </div>
                    {% else %}
                        <div class="alert alert-danger">{{ 'experience.notLogged'|trans({'%url%': path('fos_user_security_login')})|raw }}</div>
                    {% endif %}
                </div>
                <div class="col-md-6">{{ form_row(form.desired_date) }}</div>
                <div class="col-md-6">{{ form_row(form.desired_time) }}</div>
                <div class="col-md-6">{{ form_row(form.desired_duration) }}</div>
                <div class="col-md-6">{{ form_row(form.number_of_participants) }}</div>
                <div class="col-md-12" style="padding-right: 7px">{{ form_row(form.message) }}</div>
                {% if app.user %}
                    <div class="col-md-12 text-right m-t-10" style="padding-right: 7px">{{ form_row(form.submit) }}</div>
                {% endif %}
            </div>
        </div>
    </div>
</div>



