{% trans_default_domain "interface" %}

{# Complete with correct informations #}
<div class="col-sm-{{ 12/column }} m-t-20">
    {#<div class="card-city-picto" style="background-image:url({{ asset('img/welcomango-picto.png') }}">
        &#123;&#35; TODO see if we add the note in this mango. If so, add white BG to the picture &#35;&#125;
        <div class="card-picto-note">
            <h4 class="text-primary bold">{{ experience.getAverageNote }}<i class="fa fa-star fa-sm"></i></h4>
        </div>
    </div>#}
    <div id="experience_{{ experience.getId }}" class="card {% if darkBg is defined %}card-bg-master-lightest{% endif %}" >
        <a href="{{ path('front_experience_view', {'slug' : experience.slug }) }}" >
            <div class="card-clickable"></div>
            <div class="experience-image experience-image-horizontal-split">
                <img class="" data-src="{{ asset(get_banner(experience)) }}" alt="Card image cap">
            </div>
            <div class="image-separation-horizontal">
                <div class="experience-image-triangle-horizontal"></div>
            </div>
        </a>

        <div class="user user-horitonzal-split" onclick="location.href='{{ path('front_user_view', {'slug' : experience.getCreator.slug }) }}'">
            <div class="user-item user-img-1">
                <div class="user-info-wrap">
                    <div class="user-info">
                        {{ display_avatar(experience.getCreator, false, true, 'user-info-front') }}
                        <div class="user-info-back bg-primary-dark">
                            <div class="m-t-45 text-center">
                                <span>{{ 'global.viewProfile'|trans }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-body p-t-0 card-content">
            <div class="panel-title semi-bold">
                {{ experience.getTitle }} with <span class="text-primary">{{ experience.getCreator.firstname }}</span>
            </div>
            <div class="text-center m-b-10">
                in <span class="semi-bold">{% if experience.getCity %}{{ experience.getCity.Name }}{% endif %}</span>
            </div>
            <div class="m-b-10 text-center">
                {{ include("WelcomangoCoreBundle:Core:note.html.twig", { 'note': experience.getAverageNote, 'mango': true}) }}
            </div>
            <div class="dotted-line"><span></span></div>
            <div class="text-center m-t-20 m-b-20">
                <p class="fs-14">{{ experience.getDescription | truncate(150)}}</p>
            </div>
        </div>

        <div class="card-bottom bg-master-dark ">
            <div class="card-bottom-triangle ">
            </div>
            <div class="card-bottom-price text-right text-white fs-14 font-montserrat">
                {{ experience.pricePerHour}}€/h
            </div>
        </div>
    </div>

</div>

