{# Complete with correct informations #}
<div class="col-sm-12 {% if profile is not defined %}m-b-30{% endif %}" style="padding-left:0px; padding-right:0px">
    <div id="experience_{{ experience.id }}" class="card featured-card {% if darkBg is defined %}card-bg-master-lightest{% endif %}" >
        <a href="{{ path('front_experience_view', {'slug' : experience.slug }) }}" >
            <div class="row">
                <div class="panel-body p-t-0 featured-card-content col-sm-5 p-l-60">
                    <div class="panel-title semi-bold">
                        {{ experience.getTitle }}
                    </div>
                    <div class="text-center m-b-10">
                        in <span class="semi-bold">{% if experience.getCity %}{{ experience.getCity.Name }}{% endif %}</span>
                    </div>
                    <div class="dotted-line"><span></span></div>
                    <div class="text-center m-t-20">
                        {{ experience.getDescription | truncate(150)}}
                    </div>
                </div>

                <div class="col-sm-7">
                    <div class="experience-image-separation">
                        <div class="experience-image-triangle {% if darkBg is defined %}card-triangle-bg-master-lightest{% endif %}"></div>
                    </div>

                    <div class="card-clickable" style="z-index:9;">
                    </div>
                    <div class="experience-image">
                        <img class="" data-src="{{ asset(get_banner(experience)) }}" alt="Card image cap">
                    </div>

                </div>
            </div>
        </a>
    </div>
</div>





