{% trans_default_domain "interface" %}

{# Complete with correct informations #}
<div class="col-sm-{{ 12/column }} m-t-20">
    {#<div class="card-city-picto" style="background-image:url({{ asset('img/welcomango-picto.png') }}">
        &#123;&#35; TODO see if we add the note in this mango. If so, add white BG to the picture &#35;&#125;
        <div class="card-picto-note">
            <h4 class="text-primary bold">{{ experience.getAverageNote }}<i class="fa fa-star fa-sm"></i></h4>
        </div>
    </div>#}

    <div id="experience_{{ experience.getId }}" class="card profile-card {% if darkBg is defined %}card-bg-master-lightest{% endif %} {% if experience.publicationStatus == 'pending' %} profile-card-greyed {% elseif experience.publicationStatus == 'refused' %} b-thick b-a b-danger{% endif %}">
        <a href="{{ path('front_experience_view', {'slug' : experience.slug }) }}" >
            <div class="text-white p-t-20 p-b-20" data-pages-bg-image="{{ asset(get_banner(experience)) }}" data-bg-overlay="black" data-overlay-opacity="0.3">
                <div class="panel-title semi-bold ">
                    {{ experience.getTitle }}
                </div>
                <div class="text-center m-b-10">
                    in <span class="semi-bold">{% if experience.getCity %}{{ experience.getCity.Name }}{% endif %}</span>
                </div>
                <div class="m-b-10 text-center">
                    {{ include("WelcomangoCoreBundle:Core:note.html.twig", { 'note': experience.getAverageNote, 'mango': true}) }}
                </div>
            </div>
        </a>

        <div class="panel-body p-t-0 ">
            {% if experience.publicationStatus == 'refused' %}
                <div class="text-center">
                    <div class="text-danger bold m-t-10">{{ 'experience.profileList.refused'|trans }}</div>
                    <div class="m-b-20">{{ 'experience.profileList.refusedFor'|trans }}</div>
                    <div class="hint-text m-b-20">{{ 'experience.profileList.refusedNote'|trans }}</div>
                    <a href="{{ path('front_experience_edit', {'experience_id': experience.id}) }}" class="btn btn-bordered btn-black btn-cons m-b-10 "><i class="fa fa-pencil"></i> {{ 'profile.editExperience'|trans }}</a>
                    <button class="btn btn-danger btn-cons" data-toggle="modal" data-target=".modal-action" onClick="updateModal('{{ path('front_experience_delete', {'experience_id': experience.id}) }}')"><i class="fa fa-trash "></i> {{ 'profile.deleteExperience'|trans }}</button>
                </div>
                <div class="fs-11 m-t-10 text-center"><a href="{{ path('page_view_slug', {'slug': 'experience-refused'}) }}">{{ 'experience.refusedWhy'|trans }}</a></div>
            {% elseif experience.publicationStatus == 'expired' %}
                <div class="text-center">
                    <div class="text-hint bold m-t-10">{{ 'experience.profileList.expired'|trans }}</div>
                    <div class="hint-text m-b-20">{{ 'experience.profileList.expiredNote'|trans }}</div>
                    <a href="{{ path('front_experience_edit', {'experience_id': experience.id}) }}" class="btn btn-bordered btn-black btn-cons m-b-10 "><i class="fa fa-pencil"></i> {{ 'profile.editExperience'|trans }}</a>
                    <button class="btn btn-danger btn-cons" data-toggle="modal" data-target=".modal-action" onClick="updateModal('{{ path('front_experience_delete', {'experience_id': experience.id}) }}')"><i class="fa fa-trash "></i> {{ 'profile.deleteExperience'|trans }}</button>
                </div>
            {% else %}
                <div class="text-center"><a href="{{ path('booking_received_list', {'display': 'happened'}) }}" class="text-complete semi-bold">{{ 'experience.attended'|trans }}: {{ experience.getNumberOfTimeAttended }}<a/></div>
                <div class="text-center"><a href="{{ path('booking_received_list', {'display': 'received'}) }}" class="text-complete semi-bold">{{ 'experience.pendingRequest'|trans }}: {{ experience.getPendingRequest }}</a></div>
                <div class="text-center m-t-10 m-b-20">
                    <p class="fs-14">{{ experience.getDescription | truncate(100)}}</p>
                </div>


                <div id="profile-experience-action" class="text-center">
                    {% if experience.publicationStatus == 'published' %}
                    <a href="{{ path('front_experience_edit', {'experience_id': experience.id}) }}" class="btn btn-bordered btn-black btn-cons m-b-10 "><i class="fa fa-pencil"></i> {{ 'profile.editExperience'|trans }}</a>
                    <button class="btn btn-danger btn-cons" data-toggle="modal" data-target=".modal-action" onClick="updateModal('{{ path('front_experience_delete', {'experience_id': experience.id}) }}')"><i class="fa fa-trash "></i> {{ 'profile.deleteExperience'|trans }}</button>
                    {% elseif experience.publicationStatus == 'pending' %}
                        <div class="bold m-t-40">Waiting for approval</div>
                        <button class="btn btn-danger btn-cons" data-toggle="modal" data-target=".modal-action" onClick="updateModal('{{ path('front_experience_delete', {'experience_id': experience.id}) }}')"><i class="fa fa-trash "></i> {{ 'profile.deleteExperience'|trans }}</button>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>

</div>

