{% extends "FOSUserBundle:Profile:show.html.twig" %}

{% form_theme form with ["::frontTheme.html.twig"] %}

{% block meta_title %}{{ "profile.craeteExperience"|trans({}, "interface") }}{% endblock %}

{% block profile_content %}
    {{ form_start(form, {'attr': {'id': form.vars.id}}) }}
    {{ form_errors(form) }}
        <div>
            {{ form_row(form.title) }}
            {{ form_row(form.description) }}
            {{ form_row(form.medias_upload) }}
            <div id="medias" class="dropzone" style="background-color: lightgray ;height: 300px"></div>
        </div>
    {{ form_rest(form) }}

{#    <div id="availabilities" class="availabilities"
         data-prototype="{% filter escape %}{% include 'WelcomangoExperienceBundle:Availability:_availabilities.html.twig' with {'form': form.availabilities.vars.prototype } %}{% endfilter %}">
        {% for availability in form.availabilities %}
            {% include 'WelcomangoExperienceBundle:Availability:_availabilities.html.twig' with {'form': availability } %}
        {% endfor %}
    </div>#}

    {#Delete confirmation modal#}
    {% include 'WelcomangoCoreBundle:Core:stickUpModal.html.twig' with {
    'title': 'Remove availability',
    'text': 'availability.modal.removeText'|trans ,
    'confirm' : 'delete'|trans
    } %}

    <button id="modal-rating-button" class="btn btn-complete btn-cons"><i class="fa fa-valid"></i>{{ 'submit'|trans }}</button>
    {{ form_end(form) }}

{% endblock profile_content %}

{% block javascripts %}
    {{ parent() }}
    {{ include('WelcomangoMediaBundle:AdminMedia:_baseJs.html.twig') }}
    {% include 'WelcomangoExperienceBundle:Availability:_availabilityJs.html.twig' with {
        'datepickerId' : 'front_experience_availabilities_0_start_date',
    } %}
{% endblock %}

