{% extends "FOSUserBundle:Profile:show.html.twig" %}

{% form_theme form with ["::frontTheme.html.twig"] %}

{% block meta_title %}{{ "profile.craeteExperience"|trans({}, "interface") }}{% endblock %}

{% block profile_content %}
    <div>
        Steps:
        {% include 'CraueFormFlowBundle:FormFlow:stepList.html.twig' %}
    </div>
    {{ form_start(form, {'attr': {'id': 'experienceForm'}}) }}
    {{ form_errors(form) }}

    {% if flow.getCurrentStepNumber() == 1 %}
        <div>
            {{ form_row(form.title) }}
            {{ form_row(form.description) }}
            {{ form_row(form.medias) }}
            {{ form_row(form.medias_id) }}
            <div id="medias"></div>
        </div>
    {% elseif flow.getCurrentStepNumber() == 2 %}

    {% elseif flow.getCurrentStepNumber() == 3 %}
        <div id="availabilities" class="availabilities"
             data-prototype="{% filter escape %}{% include 'WelcomangoExperienceBundle:Experience:_availabilities.html.twig' with {'form': form.availabilities.vars.prototype } %}{% endfilter %}">
            {% for availability in form.availabilities %}
                {% include 'WelcomangoExperienceBundle:Experience:_availabilities.html.twig' with {'form': availability } %}
            {% endfor %}
        </div>

        {#Delete confirmation modal#}
        {% include 'WelcomangoCoreBundle:Core:stickUpModal.html.twig' with {
        'title': 'Remove availability',
        'text': 'availability.modal.removeText'|trans ,
        'confirm' : 'delete'|trans
        } %}
    {% endif %}

    {{ form_rest(form) }}

    {% include 'CraueFormFlowBundle:FormFlow:buttons.html.twig' %}
    {{ form_end(form) }}


{% endblock profile_content %}

{% block javascripts %}
    {{ parent() }}

    {% include 'WelcomangoExperienceBundle:Experience:_availabilityJs.html.twig' with {
        'datepickerId' : 'front_experience_availabilities_0_start_date',
    } %}

    {{ include('@WelcomangoMedia/AdminMedia/_baseJs.html.twig', {
        'idSearch'       : 'front_experience_medias',
        'idForm'         : 'experienceForm',
        'formName'       : 'front_experience',
        'inputName'      : 'medias',
        'multiple'       : 'true',
        'templateReturn' : 'WelcomangoExperienceBundle:Experience:_renderImages.html.twig',
    }) }}

{% endblock %}
