{% extends "FOSUserBundle:Profile:show.html.twig" %}

{% form_theme form with ["::frontTheme.html.twig"] %}

{% block meta_title %}{{ "profile.craeteExperience"|trans({}, "interface") }}{% endblock %}

{% block profile_content %}
    {{ form_start(form, {'attr': {'id': form.vars.id}}) }}
    {{ form_errors(form) }}
        <div>
            {{ form_row(form.title) }}
            {{ form_row(form.description) }}
            {{ form_row(form.medias) }}
        </div>

        <div class="row">
            <div class="fs-14 bold text-center m-t-30 m-b-20">For how long can you propose this experience?</div>
            <div class="col-md-6">{{ form_row(form.start_date) }}</div>
            <div class="col-md-6">{{ form_row(form.end_date) }}</div>
        </div>

    <div class="row" id="experience-create-availabilities tex-center">
            <div class="fs-14 bold text-center">When are you available in your week?</div>
            <div class="text-center m-t-20">{{ form_row(form.availability) }}</div>
        </div>
        <div class="row" id="experience-create-available-days">
            <div class="fs-14 bold text-center m-t-30">Which days are you available?</div>
            <div class="text-center m-t-20">{{ form_row(form.day) }}</div>
        </div>
        <div class="row" id="experience-create-available-times text-center">
            <div class="fs-14 bold text-center m-t-30">At what time are you able to guide voyagers?</div>
            <div class="text-center m-t-20">{{ form_row(form.hour) }}</div>
        </div>
        {#<div class="row" id="experience-create-available-times text-center">
            <div class="fs-14 bold text-center m-t-30">Which months?</div>
            <div class="text-center m-t-20">{{ form_row(form.month) }}</div>
        </div>#}
    {{ form_rest(form) }}
    {{ form_end(form) }}

{% endblock profile_content %}

{% block javascripts %}
    {{ parent() }}
    {{ include('WelcomangoMediaBundle:AdminMedia:_baseJs.html.twig') }}
{% endblock %}

