{% extends "FOSUserBundle:Profile:show.html.twig" %}

{% form_theme form with ["::frontTheme.html.twig"] %}

{% trans_default_domain "interface" %}

{% block meta_title %}{{ "profile.editExperience"|trans }}{% endblock %}

{% block profile_content %}
    {{ form_errors(form) }}

    <div class=" p-l-10 p-b-10 p-t-10 m-t-20 b-a b-grey profile-form-note m-t-10 bg-master-light">
        {{ 'experience.edit.messageTop'|trans|raw }}
    </div>

    {% if experience.getConfirmedRequest|length > 0 %}
        <div class="alert alert-danger" role="alert">
            <button class="close" data-dismiss="alert"></button>
            <strong>{{ 'interface.warning'|trans }}: </strong>{{ 'experience.edit.warningAlreadyBooked'|trans({'%number%': experience.getConfirmedRequest|length, '%route%': path('message_inbox')})|raw }}
        </div>
    {% endif %}

    <div id="myFormWizard" class="m-t-20">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-tabs-linetriangle nav-tabs-separator">
            <li class="active">
                <a data-toggle="tab" href="#tab1"><i class="fa pg-map tab-icon"></i> <span>Experience</span></a>
            </li>
            <li class="">
                <a data-toggle="tab" href="#tab2"><i class="fa fa-user tab-icon"></i> <span>Travelers</span></a>
            </li>
            <li class="">
                <a data-toggle="tab" href="#tab3"><i class="fa fa-calendar-o tab-icon"></i> <span>Availability</span></a>
            </li>
        </ul>
        <!-- Tab panes -->
        {{ form_start(form, {'action': path('front_experience_edit', {'experience_id' : experience.id})}) }}
        <div class="tab-content p-l-20 p-r-20 p-t-20 p-b-20 bg-white">
            <div class="tab-pane active slide" id="tab1">
                <div class="row">
                    <div class="note-text small hint-text note-text">{{ "experience.create.titleNote"|trans|raw }}</div>
                    {{ form_row(form.title) }}
                    <div class="small hint-text m-t-30 note-text">{{ "experience.create.descriptionNote"|trans }}</div>
                    {{ form_row(form.description) }}
                    <div class="small hint-text m-t-30 note-text">{{ "experience.create.mediaNote"|trans|raw }}</div>
                    <div id="medias" class="dropzone media-dropzone"></div>
                    <div class="small hint-text m-t-30 note-text">{{ "experience.create.tagsNote"|trans }}</div>
                    {{ form_row(form.tags) }}
                </div>
            </div>
            <div class="tab-pane slide" id="tab2">
                <div class="row">
                    <div class="col-md-6">
                        <div class="small hint-text note-text">{{ "experience.create.estimatedDurationNote"|trans }}</div>
                        {{ form_row(form.estimated_duration) }}
                    </div>
                    <div class="col-md-6">
                        <div class="small hint-text  note-text">{{ "experience.create.maximumParticipantsNote"|trans }}</div>
                        {{ form_row(form.maximum_participants) }}
                    </div>
                    <div class="col-md-6">
                        <div class="small hint-text m-t-30 note-text">{{ "experience.create.minimumDurationNote"|trans }}</div>
                        {{ form_row(form.minimum_duration) }}
                    </div>
                    <div class="col-md-6">
                        <div class="small hint-text m-t-30 note-text">{{ "experience.create.maximumDurationNote"|trans }}</div>
                        {{ form_row(form.maximum_duration) }}
                    </div>
                    <div class="col-md-12">
                        <div class="small hint-text m-t-30 note-text">{{ "experience.create.pricePerHourNote"|trans }}</div>
                    </div>
                    <div class="col-md-6">{{ form_row(form.price_per_hour) }}</div>
                    <div class="col-md-6">{{ form_row(form.currency) }}</div>
                    <div class="col-md-12">
                        <div class="small hint-text m-t-30 note-text">{{ 'experience.create.noPriceNote'|trans }}</div>
                        <div class="checkbox check-complete">
                            <input {% if form.vars.value.contribution %}checked="checked"{% endif %} type="checkbox" value="1" id="experience-no-price" onclick="toggleContribution();">
                            <label for="experience-no-price">{{ 'experience.create.noPrice'|trans }}</label>
                        </div>
                    </div>
                    <div class="col-md-12" id="experience-contribution-field" style="display:none;">
                        <div class="small hint-text m-t-30 note-text">{{ "experience.create.contributionNote"|trans }}</div>
                        {{ form_row(form.contribution) }}
                    </div>
                </div>
            </div>
            <div class="tab-pane slide" id="tab3">

                <div id="availabilities" class="availabilities"
                    data-prototype="{% filter escape %}{% include 'WelcomangoExperienceBundle:Availability:_availabilities.html.twig' with {'form': form.availabilities.vars.prototype } %}{% endfilter %}">
                    {% for availability in form.availabilities %}
                        {% include 'WelcomangoExperienceBundle:Availability:_availabilities.html.twig' with {'form': availability } %}
                    {% endfor %}
                </div>

                {#Delete confirmation modal#}
                {% include 'WelcomangoCoreBundle:Core:stickUpModal.html.twig' with {
                    'title': 'availability.modal.remove'|trans,
                    'text': 'availability.modal.removeText'|trans ,
                    'confirm' : 'interface.delete'|trans
                } %}
            </div>

            <div class="row text-right m-t-20">
                <a href="{{ path('fos_user_profile_show') }}" class="btn btn-default">{{ 'interface.cancel'|trans({}, "interface") }}</a>
                <button type="submit" class="btn btn-complete">
                    <i class="fa fa-save"></i> {{ 'interface.save'|trans({}, "interface") }}
                </button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock profile_content %}

{% block javascripts %}
    {{ parent() }}
    {{ include('WelcomangoMediaBundle:AdminMedia:_baseJs.html.twig') }}
    {{ form_javascript(form) }}

    {% include 'WelcomangoExperienceBundle:Availability:_availabilityJs.html.twig' %}
    {% include 'WelcomangoExperienceBundle:Experience:_baseJs.html.twig' %}

    <script>
        function toggleContribution() {
            $('#experience-contribution-field').slideToggle();
            $('#front_experience_price_per_hour').val('0');
            $('#front_experience_price_per_hour').prop('disabled', function(i, v) { return !v; });
            $('#front_experience_currency').prop('disabled', function(i, v) { return !v; });
        }

        {% if form.vars.value.contribution %}
            $(document).ready(toggleContribution());
        {% endif %}
    </script>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset("css/dropzone.min.css") }}" rel="stylesheet" type="text/css" />
{% endblock %}
