{% extends "FOSUserBundle:Profile:show.html.twig" %}

{% form_theme form with ["::frontTheme.html.twig"] %}

{% trans_default_domain "experience" %}

{% block profile_content %}
    {{ form_errors(form) }}

    <div class="alert alert-info m-t-20">
        <button class="close" data-dismiss="alert"></button>
        {{ 'experience.editTopMessage'|trans }}
    </div>

    <div id="myFormWizard" class="m-t-20">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-tabs-linetriangle nav-tabs-separator">
            <li class="active">
                <a data-toggle="tab" href="#tab1"><i class="fa pg-map tab-icon"></i> <span>Experience</span></a>
            </li>
            <li class="">
                <a data-toggle="tab" href="#tab2"><i class="fa fa-user tab-icon"></i> <span>Travelers</span></a>
            </li>
            <li class="">
                <a data-toggle="tab" href="#tab3"><i class="fa fa-calendar-o tab-icon"></i> <span>Availability</span></a>
            </li>
        </ul>
        <!-- Tab panes -->
        {{ form_start(form, {'action': path('front_experience_edit', {'experience_id' : experience.id})}) }}
        <div class="tab-content p-l-20 p-r-20 p-t-20 p-b-20">
            <div class="tab-pane active slide" id="tab1">
                <div class="row">
                    {{ form_row(form.title) }}
                    {{ form_row(form.description) }}
                    {{ form_row(form.medias_upload) }}
                    <div id="medias" class="dropzone media-dropzone"></div>
                    {{ form_row(form.city) }}
                    {{ form_row(form.tags) }}
                </div>
            </div>
            <div class="tab-pane slide" id="tab2">
                <div class="row">
                    {{ form_row(form.estimated_duration) }}
                    {{ form_row(form.minimum_duration) }}
                    {{ form_row(form.maximum_duration) }}
                    {{ form_row(form.price_per_hour) }}
                    {{ form_row(form.maximum_participants) }}
                </div>
            </div>
            <div class="tab-pane slide" id="tab3">

                <div id="availabilities" class="availabilities"
                    data-prototype="{% filter escape %}{% include 'WelcomangoExperienceBundle:Availability:_availabilities.html.twig' with {'form': form.availabilities.vars.prototype } %}{% endfilter %}">
                    {% for availability in form.availabilities %}
                        {% include 'WelcomangoExperienceBundle:Availability:_availabilities.html.twig' with {'form': availability } %}
                    {% endfor %}
                </div>

                {#Delete confirmation modal#}
                {% include 'WelcomangoCoreBundle:Core:stickUpModal.html.twig' with {
                    'title': 'Remove availability',
                    'text': 'availability.modal.removeText'|trans ,
                    'confirm' : 'delete'|trans
                } %}
            </div>

            <div class="row text-right m-t-20">
                <a href="{{ path('fos_user_profile_show') }}" class="btn btn-default">{{ 'interface.cancel'|trans({}, "interface") }}</a>
                <button type="submit" class="btn btn-complete">
                    <i class="fa fa-save"></i>{{ 'interface.save'|trans({}, "interface") }}
                </button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock profile_content %}

{% block javascripts %}
    {{ parent() }}
    {{ include('WelcomangoMediaBundle:AdminMedia:_baseJs.html.twig') }}
    {{ form_javascript(form) }}

    {% include 'WelcomangoExperienceBundle:Availability:_availabilityJs.html.twig' %}
    {% include 'WelcomangoExperienceBundle:Experience:_baseJs.html.twig' %}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset("css/dropzone.min.css") }}" rel="stylesheet" type="text/css" />
{% endblock %}
