{% extends "WelcomangoCoreBundle:CRUD:index.html.twig" %}


{% trans_default_domain "crm" %}

     {% block element_title %}
         Experiences
     {% endblock element_title %}

    {% block element_main_sentence %}
        This is where your journey starts
    {% endblock element_main_sentence %}

    {% block element_description %}
        The following experiences are all proposed by locals willing to show you their cities from their point of view. We are not talking about cheap guides, but a human to human experience.
    {% endblock element_description %}

    {% block element_last_description  %}
        Go ahead, check what's in the city you are willing to visit!
    {% endblock element_last_description %}

    {% block actions %}
        {# {{ button.create(path('experience_create'), 'experience.create'|trans) }}#}
    {% endblock %}

    {% set pager_url = path('front_experience_list') %}
    {% set number_per_page = false %}
    {#{% set filter_url = path('experience_filters') %}#}

    {% block filters %}
        {# {% include "YproxAdminCrmBundle:Experience:filter.html.twig" %}#}
    {% endblock %}

    {% block no_results %}
        <div class="alert">
            <strong>{{ 'interface.noresult'|trans({}, "interface") }}</strong>
        </div>
    {% endblock %}

{# {% block table_head %}
        <tr>
            <th class="col-md-2">{{ knp_pagination_sortable(pagination, 'experience.title'|trans, 'e.title')|raw }}</th>
            <th class="col-md-5">{{ "experience.description"|trans }}</th>
            <th class="col-md-1">{{ knp_pagination_sortable(pagination, 'experience.estimated_duration'|trans, 'e.estimatedDuration')|raw }}</th>
            <th style="width: 8%">{{ knp_pagination_sortable(pagination, 'experience.price_per_hour'|trans, 'e.pricePerHour')|raw }}</th>
            <th>{{ "experience.city"|trans }}</th>
            <th>{{ "interface.actions"|trans }}</th>
        </tr>
    {% endblock %}
#}

    {% block table_body %}
        {% include "WelcomangoExperienceBundle:Experience:_experienceTile.html.twig" with { 'experience' : entity, 'column': 3 } %}
    {% endblock %}


    {% block additionnal_content %}
        {# render(controller("YproxAdminCrmBundle:Experience:experiencesByLastLogin")) #}
    {% endblock %}

    {% block dashboard_search %}
        <input id="experience_search" name="" type="text" class="no-boarder" placeholder="{{ "search.experience"|trans }}" style="width:250px;">
    {% endblock %}

    {% block search_results %}
        <div id="experience_results"></div>
    {% endblock %}

    {% block extra_actions %}
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script type="text/javascript">
            var timeout;
            $(document).ready(function () {
                $('#experience_search').val('');
                $('#experience_search').on('keyup', function (event) {
                    var query = $(this).val();

                    clearTimeout(timeout);

                    if (query.length > 2) {
                        timeout = setTimeout(function() {
                            $('#spinner').css('display', 'inline');
                            $.post("{{ path('front_experience_search_ajax') }}", {'query': query}, function (response) {
                            $.post("{{ path('front_experience_search_ajax') }}", {'query': query}, function (response) {
                                $('#spinner').css('display', 'none');
                                $('#experience_results').html(response);
                            }, 'html');
                        }, 500);
                    }
                });

                $('.form-filter-select2').select2({
                });
            });
        </script>

    {% endblock %}

    {% block stylesheets %}
        {{ parent() }}
    {% endblock %}




