{% extends "WelcomangoCoreBundle:CRUD:index.html.twig" %}

{% form_theme form with ["::frontTheme.html.twig"] %}

{% trans_default_domain "interface" %}

    {% block page_header %}
        <!-- START CONTENT SECTION -->
        <section class="p-b-30 p-t-30 bg-master-darkest sm-no-margin" data-pages-bg-image="{{ asset("bundles/welcomangocore/images/experience_default/banner_2.jpg") }}" data-bg-overlay="black" data-overlay-opacity="0.3" data-pages="parallax">
            <div class="container p-b-30 p-t-30">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="text-center">
                            <h1 class="text-white col-sm-12 p-b-10">
                                {% if form.vars.value.city.name is defined %}
                                    Experiences in {{ form.vars.value.city.name }}, {{ form.vars.value.city.country.name }}
                                {% elseif form.vars.value.tags is defined %}
                                    Experiences about
                                    {% for tag in form.vars.value.tags %}
                                        {% if loop.index != 1 %}&{% endif %} {{ tag.name }}
                                    {% endfor %}
                                {% else %}
                                    {{ 'experience.list.title'|trans }}
                                {% endif %}
                            </h1>
                            <p class="fs-12 font-arial text-white m-t-30"><span class="hint-text">{{ 'experience.list.subHeader'|trans }}</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END CONTENT SECTION -->
    {% endblock %}

    {% block actions %}
        {# {{ button.create(path('experience_create'), 'experience.create'|trans) }}#}
    {% endblock %}

    {% set pager_url = path('front_experience_list') %}
    {% set number_per_page = false %}
    {% set filter_url = path('experience_filters') %}

    {% block filters %}
        {% include "WelcomangoExperienceBundle:Experience:filter.html.twig" %}
    {% endblock %}

    {% block no_results %}

        {% include 'WelcomangoCoreBundle:Core:oopsBox.html.twig' with {
            'message': "experience.noExperience"|trans({}, 'interface'),
            'icon': 'fa-meh-o',
        } %}

    {% endblock %}

{# {% block table_head %}
        <tr>
            <th class="col-md-2">{{ knp_pagination_sortable(pagination, 'experience.title'|trans, 'e.title')|raw }}</th>
            <th class="col-md-5">{{ "experience.description"|trans }}</th>
            <th class="col-md-1">{{ knp_pagination_sortable(pagination, 'experience.estimated_duration'|trans, 'e.estimatedDuration')|raw }}</th>
            <th style="width: 8%">{{ knp_pagination_sortable(pagination, 'experience.price_per_hour'|trans, 'e.pricePerHour')|raw }}</th>
            <th>{{ "experience.city"|trans }}</th>
            <th>{{ "interface.actions"|trans }}</th>
        </tr>
    {% endblock %}
#}

    {% block table_body %}
        {% include "WelcomangoExperienceBundle:Experience:_experienceTile.html.twig" with { 'experience' : entity, 'column': 3 } %}
    {% endblock %}


    {% block additionnal_content %}
        {# render(controller("YproxAdminCrmBundle:Experience:experiencesByLastLogin")) #}
    {% endblock %}

    {% block dashboard_search %}
        <input id="experience_search" name="" type="text" class="no-boarder" placeholder="{{ "search.experience"|trans }}" style="width:250px;">
    {% endblock %}

    {% block search_results %}
        <div id="experience_results"></div>
    {% endblock %}

    {% block extra_actions %}
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        {{ form_javascript(form) }}

        {% include "WelcomangoExperienceBundle:Experience:_experienceTileJs.html.twig" %}

        <script type="text/javascript">
            var timeout;
            $(document).ready(function () {
                //Cities autocomplete
                $( "#experience_research_city" ).autocomplete({
                    source: "{{ path('experience_search_autocomplete') }}",
                    select: function(event, ui) {
                        event.preventDefault()
                        $(this).val(ui.item.label);
                    }
                });

                $('.form-filter-select2').select2();
                $('#experience_search').val('');
                $('#experience_search').on('keyup', function (event) {
                    var query = $(this).val();

                    clearTimeout(timeout);

                    if (query.length > 2) {
                        timeout = setTimeout(function () {
                            $('#spinner').css('display', 'inline');
                            $.post("{{ path('experience_search_ajax') }}", {'query': query}, function (response) {
                                $('#spinner').css('display', 'none');
                                $('#experience_results').html(response);
                            }, 'html');
                        }, 500);x
                    }
                });
            });
        </script>
    {% endblock %}

    {% block stylesheets %}
        {{ parent() }}
    {% endblock %}




