{% extends "::front.html.twig" %}

{% trans_default_domain "experience" %}

{#{% form_theme form with ["::frontTheme.html.twig"] %}#}

{% block page_content %}
    <!-- START CONTENT SECTION -->
    {% if experience.getMedias.first %}
        {% set imageBanner = asset(experience.getMedias.first.getWebPath) %}
    {% else %}
        {% set imageBanner = asset("img/front/places-" ~ random(18) ~ ".jpg") %}
    {% endif %}
    <!-- START BANNER SECTION -->
    <section class="p-b-70 bg-master-darkest sm-no-margin" data-pages-bg-image="{{ asset(imageBanner) }}" data-bg-overlay="black" data-overlay-opacity="0.3" data-pages="parallax">
        <div class="container p-t-50">
            <div class="row">
                <div class="col-lg-1 col-min">
                    <div class="text-center">
                        <h1 class="text-white col-sm-12 ">{{ experience.title }}</h1>
                        <div class="m-b-10">
                            {{ include("WelcomangoExperienceBundle:Experience:_experienceNote.html.twig", { 'note': experience.getAverageNote, 'size': 'medium'}) }}
                        </div>
                        <p class="fs-12 font-arial text-white ">A {{ experience.estimatedDuration }}h adventure proposed by {{ experience.getAuthor.firstname }}</p>
                        <button id="experience-booking-btn" type="button" class="btn btn-lg btn-primary btn-cons btn-rounded m-t-20" onclick="toggleBooking()">
                            {{ 'experience.sendRequest'|trans }}
                        </button>
                    </div>
                </div>
            </div>
            <div id="experience-booking" {% if formSubmitted == true %}style="height:350px"{% endif %} >
                {{ include("WelcomangoExperienceBundle:Experience:_experienceBooking.html.twig") }}
            </div>
        </div>
    </section>
    <!-- END BANNER SECTION -->

    <!-- START EXPERIENCE SECTION -->
    <section class="container-fluid p-b-50  bg-white">
        <div class="container">
            <div class="panel col-md-8 p-t-40">
                <ul class="nav nav-tabs nav-tabs-left nav-tabs-simple" id="experience-side-menu">
                    <li class="active">
                        <a data-toggle="tab" data-href="#experience-city" class="experience-side-menu-item">City</a>
                    </li>
                    <li>
                        <a data-toggle="tab" data-href="#experience-details" class="experience-side-menu-item">Details</a>
                    </li>
                    <li>
                        <a data-toggle="tab" data-href="#experience-description" class="experience-side-menu-item">Description</a>
                    </li>
                    <li>
                        <a data-toggle="tab" data-href="#experience-pictures" class="experience-side-menu-item">Pictures</a>
                    </li>
                </ul>
                <div class="experience-content">
                    <div id="experience-city">
                        <div class="experience-city">
                            <div class="m-l-20 p-b-20">
                                <div class="experience-city-picto" style="background-image:url({{ asset('img/welcomango-picto.png') }}">
                                    {# TODO see if we add the note in this mango. If so, add white BG to the picture #}
                                    {#<div class="experience-picto-note">
                                        <h4 class="text-primary bold">{{ experience.getAverageNote }}<i class="fa fa-star fa-sm"></i></h4>
                                    </div>#}
                                </div>
                                <h1 class="experience-city-title">{{ experience.getCity.name }}</h1>
                                <h4>{{ experience.getCity.getCountry.name }}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="experience-details">
                        <div class="row">
                            <div class="col-md-12 m-t-20">
                                <h3>{{  'experience.details'|trans }}</h3>
                                <div class="col-md-6">
                                    <div >
                                        {{  'experience.estimatedDuration'|trans }}: <span class="text-black semi-bold">{{ experience.getEstimatedDuration}}h</span>
                                    </div>
                                    <div >
                                        {{  'experience.minimunDuration'|trans }}: <span class="text-black semi-bold">{{ experience.getMinimumDuration}}h</span>
                                    </div>
                                    <div >
                                        {{  'experience.maximumDuration'|trans }}: <span class="text-black semi-bold">{{ experience.getMaximumDuration}}h</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div >
                                        {{  'experience.maximumParticipants'|trans }}: <span class="text-black semi-bold">{{ experience.getMaximumParticipants}}h</span>
                                    </div>
                                    <div >
                                        {{  'experience.maximumDuration'|trans }}: <span class="text-black semi-bold">{{ experience.getMaximumDuration}}h</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="experience-description">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="experience-description m-t-20">
                                    <h3>{{  'experience.description'|trans }}</h3>
                                    <p>{{ experience.description|nl2br|raw }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="experience-pictures">
                        <div class="row">
                            <div class="col-md-12">
                                <h3>{{  'experience.pictures'|trans }}</h3>
                                <p>
                                    {% if experience.getMedias.first %}
                                        <div class="experience_container_pictures">
                                            <div class="col-md-12 ">
                                                <div class="experience_featured_picture_dark">
                                                    <div class="experience_featured_pictures experience_featured_picture_large m-b-20" style="background-image:url({{ asset(experience.getMedias.first.getWebPath) }})">                                            </div>
                                                </div>
                                            </div>
                                            {% for media in experience.getMedias.getValues|slice(1,2) %}
                                                <div class="col-md-6">
                                                    <div class="experience_featured_picture_dark">
                                                        <div class="experience_featured_pictures experience_featured_picture_small m-b-20" style="background-image:url({{ asset(media.getWebPath) }})"></div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                            {% for media in experience.getMedias.getValues|slice(3,10) %}
                                                <div id="experience-hidden-pictures">
                                                    <div class="col-md-6">
                                                        <div class="experience_featured_picture_dark">
                                                            <div class="experience_featured_pictures experience_featured_picture_small m-b-20" style="background-image:url({{ asset(media.getWebPath) }})"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                            {% if experience.getMedias.getValues[3] is defined %}
                                                <div class="col-md-12 text-right">
                                                    <button id="experience-pictures-btn" class="text-center btn btn-sm" onclick="togglePictures();">More</button>
                                                </div>
                                            {% endif %}

                                        </div>
                                    {% else %}
                                        <div>
                                            {{ 'experience.SorryNoPictures'|trans }}
                                            <i class="fa fa-meh-o"></i>
                                        </div>
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4" id="experience-user-container" >
                <div class="bg-master-lighter row" id="experience-user">
                    <!-- MAIN USER DISPLAY -->
                    <div id="user-main">
                        <div class="user" onclick="location.href='{{ path('front_user_view', {'user_id' : experience.getAuthor.id }) }}'">
                            <div class="user-item user-img-1">
                                <div class="user-info-wrap">
                                    <div class="user-info">
                                        {% if experience.getAuthor.getMedias.first %}
                                            <div class="user-info-front user-img-1" style="background-image:url({{ asset(experience.getAuthor.getMedias.first.getWebPath) }})"></div>
                                        {% else %}
                                            <div class="user-info-front user-img-1" style="background-image:url({{ asset("img/front/faces/face" ~ random(8) ~ ".jpg") }})"></div>
                                        {% endif %}
                                        <div class="user-info-back bg-master-dark">
                                            <div class="m-t-60 text-center">
                                                <span>View Profile</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="{{ path('front_user_view', {'user_id' : experience.getAuthor.id }) }}">
                            <h2 class="text-center">{{ experience.getAuthor.firstname }}, {{ experience.getAuthor.getAge }}</h2>
                        </a>
                    </div>
                    <!-- MINI USER DISPLAY -->
                    <div id="user-mini" class="row p-b-5 p-t-5 " style="display:none">
                        <div class="col-md-12">
                            <div class="col-md-1"></div>
                            <div class="col-md-3">
                                <a href="{{ path('front_experience_list') }}">
                                    {% if experience.getAuthor.getMedias.first %}
                                        <div class="user-info-front-small user-img-1" style="background-image:url({{ asset(experience.getAuthor.getMedias.first.getWebPath) }})"></div>
                                    {% else %}
                                        <div class="user-info-front-small user-img-1" style="background-image:url({{ asset("img/front/faces/face" ~ random(8) ~ ".jpg") }})"></div>
                                    {% endif %}
                                </a>
                            </div>
                            <div class="col-md-7 text-left">
                                <a href="{{ path('front_experience_list') }}">
                                    <h4>{{ experience.getAuthor.firstname }}, {{ experience.getAuthor.getAge }}</h4>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- USER INFO CONTENT-->
                    <div class="experience-user-info">
                        <div class="dotted-line"><span></span></div>
                        <div class="text-center m-b-15 ">
                            {% for language in experience.getAuthor.getSpokenLanguages.getValues %}
                                <div class="flag flag-xs" role="image"  style="background: url({{ asset('img/countries/'~ language.language.flagLabel|lower ~'.svg') }});"></div>
                            {% endfor %}

                        </div>
                        <p>{{ experience.getAuthor.getDescription|truncate(200) }}</p>
                    </div>
                    <!-- BOOKING  AND PRICE PART -->
                    <div class="bg-master-lighter experience-bottom-user">
                        <div class="row experience-bottom-container">
                            <div class="experience-bottom-contact col-md-5">
                                <i class="fa fa-comments-o fa-5x text-primary m-l-40 m-t-30"></i>
                            </div>
                            <div class="col-md-7 experience-bottom-right">
                                <div class="experience-image-separation">
                                    <div class="experience-image-triangle"></div>
                                </div>
                                <div class="experience-bottom-price bg-master-light" onclick="userToggleBooking()">
                                    <div class=" experience-price">
                                        {{ experience.pricePerHour }}€/h
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="experience-force-size p-b-10"></div>
        </div>
    </section>
    <!-- END EXPERIENCE SECTION -->

    <!-- START COMMENT SECTION -->
    <section class="container-fluid bg-master-light container-fixed-lg p-b-50">
        <div class="row">
            <div class="container">
                <div class="text-center m-b-40 m-t-40">
                    <h2>Comments</h2>
                </div>
            </div>
        </div>
    </section>
    <!-- END COMMENT SECTION -->

    <!-- START RELATED SECTION -->
    <section class="container-fluid bg-white container-fixed-lg p-b-50">
        <div class="row">
            <div class="container">
                <div class="text-center m-b-40 m-t-40">
                    <h2>Related experiences</h2>
                </div>
                {% for experience in relatedExperiences  %}
                    {{ include("WelcomangoExperienceBundle:Experience:_experienceTile.html.twig", { 'experiences': relatedExperiences, 'column': 3, 'darkBg': true }) }}
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- END RELATED SECTION -->

    <!-- END CONTENT SECTION -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">

        //Smooth scroll + update active menu item
        $('.experience-side-menu-item').click(function(){
            var anchor = $(this).attr('data-href');
            var offset = $(anchor).offset().top;
            $('html, body').animate( { scrollTop: offset - 50 }, 750 );

            $('.experience-side-menu-item').parent().removeClass('active');
            $(this).parent().toggleClass('active');
        });

        //Make the menu and user card sticky to top
        $("#experience-user-container").stick_in_parent({offset_top: 80});
        $("#experience-side-menu").stick_in_parent({offset_top: 80});

        /* //Update active menu on scroll
        $(window).on("scroll", function() {
            var scrollPosition = scrollY || pageYOffset;

            if (scrollPosition > $("#experience-city").position().top - $(window).height()) {
                $("#experience-city").parent().toggleClass('active');
            }else if (scrollPosition > $("#experience-description").position().top - $(window).height()) {
                $("#experience-description").parent().toggleClass('active');
            }else if (scrollPosition > $("#experience-pictures").position().top - $(window).height()) {

                $("#experience-pictures").parent().toggleClass('active');
            }
        }); */

        //make the user card sticky
        $(function(){
            var stickyUserTop = $('#experience-user').offset().top-80;

            $(window).scroll(function(){
                if( $(window).scrollTop() > stickyUserTop ) {
                    //$('#user-main').animate({marginTop: '-200px'});
                    $('#user-main').hide();
                    $('#user-mini').show();
                } else {
                    //$('#user-main').animate({marginTop: '0px'});
                    $('#user-main').show();
                    $('#user-mini').hide();
                }
            });
        });

        function userToggleBooking(){
            if($('#experience-booking').height() == 0){
                $("html, body").animate({ scrollTop: $('.page-wrappers').offset().top }, 500);
                toggleBooking();
            }else{
                toggleBooking();
            }
        }

        function toggleBooking(){
            if($('#experience-booking').height() == 0){
                $('#experience-booking').animate({height: '350px', overflow: 'auto'});
                $('#experience-booking-btn').html('{{ 'experience.closeRequest'|trans }}')
            }else{
                $('#experience-booking').animate({height: '0px', overflow: 'hidden'});
                $('#experience-booking-btn').html('{{ 'experience.sendRequest'|trans }}')
            }
        }

        function togglePictures1(){
            $('#experience-hidden-pictures').toggleClass('experience-pictures-visible');
            $('#experience-pictures-btn').html('Less');
        }

        function togglePictures(){
            if($('#experience-hidden-pictures:visible').length == 0){
                $('#experience-hidden-pictures').show(400);
                $('#experience-pictures-btn').html('Less')
            }else{
                $('#experience-hidden-pictures').hide(400);
                $('#experience-pictures-btn').html('More')
            }
        }
    </script>

{% endblock %}
