{% extends '::front.html.twig' %}

{% block body_class 'pace-white' %}

{% form_theme form with ["::frontTheme.html.twig"] %}

{% block fos_user_content %}
    {% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}


{% block page_content %}
<!-- BEGIN JUMBOTRON -->
<section class="jumbotron full-height bg-black" data-pages-bg-image="{{ asset('bundles/welcomangocore/images/experience_default/places-0.jpg') }}" data-bg-overlay="black" data-overlay-opacity="0.2" >
    <div class="container-xs-height full-height">
        <div class="col-xs-height col-middle text-left">
            <div class="container m-t-50 m-b-100">
                <!-- BEGIN TEXT PART -->
                <div class="col-md-6 col-md-push-6">
                    <h1 class="light text-white m-b-40">The first step of your next adventure</h1>
                    <h5 class="text-white">Join the Welcomango community to discover a new way of traveling and enhance your life experience. </h5>
                    <br/>
                    <h5 class="text-white">Feel a European city and create boundaries with the locals</h5>
                </div>
                <!-- END TEXT PART -->

                <!-- BEGIN FORM PART -->
                <div class="col-md-5 bg-master-lightest p-t-10 p-l-20 p-r-20 m-l-10  m-r-10  row col-md-pull-6">
                    <h4 class="text-center bold m-b-30">Join Welcomango Now</h4>
                    {{ form_start(form, {'attr': {'id': 'registration_form'}}) }}
                    {{ form_errors(form) }}
                    {{ form_row(form.username) }}
                    <div id="fos_user_registration_form_username_message"></div>
                    {{ form_row(form.email) }}
                    <div id="fos_user_registration_form_email_message"></div>
                    <div class="row">
                        <div class="col-md-6">{{ form_row(form.firstName) }}</div>
                        <div class="col-md-6">{{ form_row(form.lastName) }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">{{ form_row(form.plain_password.first) }}</div>
                        <div class="col-md-6">{{ form_row(form.plain_password.second) }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-7 m-b-10">{{ form_row(form.birthdate) }}</div>
                        <div class="col-md-5">{{ form_row(form.gender) }}</div>

                    </div>
                    <div class="row">
                    </div>
                    <div class="row">
                        <div class="col-md-12">{{ form_row(form.fromCity) }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">{{ form_row(form.currentCity) }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">{{ form_row(form.occupation) }}</div>
                    </div>
                    <div class="row">

                    </div>
                    <div class="row">
                        <div class="col-md-12 text-right">{{ form_row(form.register, {'attr': {'class': 'btn-primary'}} ) }}</div>
                    </div>
                    {{ form_end(form) }}
                </div>
                <!-- END FORM PART -->
            </div>
        </div>
    </div>
</section>
<!-- END JUMBOTRON -->
{% endblock page_content %}

{% block javascripts %}
    {{ parent() }}

    {% include 'WelcomangoCoreBundle:Core:_cityJs.html.twig' with {'form_id': 'fos_user_registration_form', 'field_ids': ['currentCity', 'fromCity']} %}

    <script>
        var timeout;
        $(document).ready(function () {
            $('#fos_user_registration_form_username').val('');
            var elements = ['fos_user_registration_form_username', 'fos_user_registration_form_email'];

            $('.form-control').keyup(function (event) {
                if($.inArray($(this).attr('id'), elements) > -1){

                    var query = $(this).val();
                    var field = $(this).attr('id');
                    var element = $(this)
                    var elementId = element.attr('id');

                    clearTimeout(timeout);

                    if (query.length > 3) {
                        /*$('#spinner').css('display', 'inline');*/
                        $.post("{{ path('user_registration_check_ajax') }}", {'query': query, 'field': field}, function (response) {
                            var parsedResponse = $.parseJSON(response);
                            $('#spinner').css('display', 'none');
                            $('#'+elementId+'_message').html(parsedResponse['message']);
                            $('#'+elementId+'_message').removeAttr('class');
                            $('#'+elementId+'_message').addClass(parsedResponse['class'])
                        }, 'html');
                    }
                }
            });
        });
    </script>
{% endblock javascripts %}
