{% extends '::front.html.twig' %}

{% block body_class 'pace-white' %}

{% block fos_user_content %}
    {% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}


{% block page_content %}
<!-- BEGIN JUMBOTRON -->
<section class="jumbotron full-height bg-black" data-pages-bg-image="{{ asset('img/front/places-0.jpg') }}" data-bg-overlay="black" data-overlay-opacity="0.2" >
    <div class="container-xs-height full-height">
        <div class="col-xs-height col-middle text-left">
            <div class="container m-t-50 m-b-100">
                <!-- BEGIN TEXT PART -->
                <div class="col-md-6 col-md-push-6">
                    <h1 class="light text-white m-b-40">The first step of your next adventure</h1>
                    <h4 class="text-white">Join the Welcomango community to discover a new way of traveling and enhance your life experience. </h4>
                    <br/>
                    <h4 class="text-white">Feel a European city and create boundaries with the locals</h4>
                </div>
                <!-- END TEXT PART -->

                <!-- BEGIN FORM PART -->
                <div class="col-md-5 bg-master-lightest p-t-10 p-l-20 p-r-20 m-l-10  m-r-10  row col-md-pull-6">
                    <h4 class="text-center bold m-b-30">Join Welcomango Now</h4>
                    {{ form_start(form, {'attr': {'id': 'registration_form'}}) }}
                    {{ form_errors(form) }}
                    {{ form_row(form.username) }}
                    <div id="front_user_username_message"></div>
                    {{ form_row(form.email) }}
                    <div id="front_user_email_message"></div>
                    <div class="row">
                        <div class="col-md-6">{{ form_row(form.firstName) }}</div>
                        <div class="col-md-6">{{ form_row(form.lastName) }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">{{ form_row(form.password.first) }}</div>
                        <div class="col-md-6">{{ form_row(form.password.second) }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">{{ form_row(form.birthdate) }}</div>
                        <div class="col-md-6">{{ form_row(form.gender) }}</div>

                    </div>
                    <div class="row">
                    </div>
                    <div class="row">
                        <div class="col-md-12">{{ form_row(form.current_city) }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">{{ form_row(form.occupation) }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            Captcha
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-right">{{ form_row(form.register, {'attr': {'class': 'btn-primary'}} ) }}</div>
                    </div>
                    {{ form_end(form) }}
                </div>
                <!-- END FORM PART -->
            </div>
        </div>
    </div>
</section>
<!-- END JUMBOTRON -->
{% endblock page_content %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var timeout;
        $(document).ready(function () {
            $('#front_user_username').val('');
            var elements = ['front_user_username', 'front_user_email'];

            $('.form-control').keyup(function (event) {
                if($.inArray($(this).attr('id'), elements) > -1){

                    var query = $(this).val();
                    var field = $(this).attr('id');
                    var element = $(this)
                    var elementId = element.attr('id');

                    clearTimeout(timeout);

                    if (query.length > 3) {
                        timeout = setTimeout(function () {
                            $('#spinner').css('display', 'inline');
                            $.post("{{ path('usr_registration_check_ajax') }}", {'query': query, 'field': field}, function (response) {
                                var parsedResponse = $.parseJSON(response);
                                $('#spinner').css('display', 'none');
                                $('#'+elementId+'_message').html(parsedResponse['message']);
                                $('#'+elementId+'_message').removeAttr('class');
                                $('#'+elementId+'_message').addClass(parsedResponse['class'])
                            }, 'html');
                        }, 500);
                    }
                }
            });
        });
    </script>
{% endblock javascripts %}