<div class="col-md-12">
    <div class="panel panel-default portlet">
        <div class="panel-body">
            {{ form_start(form, {'action': save_path, 'attr': {'id': 'participationForm'}}) }}
            {{ form_errors(form) }}
            <ul class="nav nav-tabs nav-tabs-fillup">
                <li class="active"><a data-toggle="tab" href="#general"><span>{{ "participation.informations.tab"|trans }}</span></a></li>
                <li><a data-toggle="tab" href="#credentials"><span>{{ "participation.credentials.tab"|trans }}</span></a></li>
                <li><a data-toggle="tab" href="#password"><span>{{ "participation.password.tab"|trans }}</span></a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active slide-left" id="general">
                    <div class="row">
                        <div class="col-sm-6">
                            {{ form_row(form.experience) }}
                            {{ form_row(form.user) }}
                            <div class="row">
                                <div class="col-md-4">{{ form_row(form.date) }}</div>
                                <div class="col-md-4">{{ form_row(form.start_time) }}</div>
                                <div class="col-md-4">{{ form_row(form.end_time) }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">{{ form_row(form.status) }}</div>
                                <div class="col-md-6">{{ form_row(form.number_of_participants) }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">{{ form_row(form.is_creator) }}</div>
                                <div class="col-md-6">{{ form_row(form.is_participant) }}</div>
                            </div>
                            {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary  btn-cons pull-right '}}) }}
                        </div>
                    </div>
                    <div class="tab-pane slide-left" id="credentials">
                        <div class="col-md-8">
                            {#                                {{ form_row(form.roles, { 'label_helper' :  'user.helper.role'|trans }) }}
                                                            {{ form_row(form.enabled) }}#}
                        </div>
                    </div>
                    <div class="tab-pane slide-left" id="password">
                        <div class="col-md-8">
                            {#                                {{ form_row(form.plainPassword.first) }}
                                                            {{ form_row(form.plainPassword.second) }}#}
                        </div>
                    </div>
                </div>
                {#                    {% include "YproxAdminCoreBundle:Form:form_footer.html.twig" with {listing : listing, update: true } only %}#}
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
