{% trans_default_domain "interface" %}

<div class="row no-margin">
    {# If a trip is booked #}
    {% if nextTrip %}
        <div class="col-md-4 ">
            <div class="p-l-20 p-r-20 p-b-20 b-a b-thick b-warning bg-white profile-dashboard-card">
                <h4 class="text-center">{{ 'profile.yourNextTrip'|trans }}</h4>
                <div class="text-center"><i class="fa fa-plane fa-3x"></i></div>
                <div class="m-t-20">
                    {{ 'profile.nextTripDetails'|trans({'%experienceTitle%': nextTrip.experience.title, '%experienceCity%': nextTrip.experience.city.name, '%experienceGuide%': nextTrip.experience.getCreator.firstname, '%time%': nextTrip.startDatetime|time_diff  })|raw }}
                </div>
                <div class="m-t-20 text-center">
                    <a href="{{ path('booking_sent_view', {'booking_id': nextTrip.id, 'user_id' : user.id }) }}" class="btn btn-complete">{{ 'interface.view'|trans }}</a>
                </div>
            </div>
        </div>
    {% endif %}

    {# If a someone in visiting the user #}
    {% if nextVisitGiven %}
        <div class="col-md-4 ">
            <div class="p-l-20 p-r-20  p-b-20 b-a b-thick b-warning bg-white profile-dashboard-card">
                <h4 class="text-center">{{ 'profile.nextVisitGiven'|trans }}</h4>
                <div class="text-center"><i class="fa fa-bullhorn fa-3x"></i></div>
                <div class="m-t-20">
                    {{ 'profile.nextVisitDetails'|trans({'%experienceTitle%': nextVisitGiven.experience.title, '%experienceCity%': nextVisitGiven.experience.city.name, '%experienceTraveler%': nextVisitGiven.user.firstname, '%time%': nextVisitGiven.startDatetime|time_diff  })|raw }}
                </div>
                <div class="m-t-20 text-center">
                    <a href="{{ path('booking_received_view', {'booking_id': nextVisitGiven.id, 'user_id' : user.id }) }}" class="btn btn-complete">{{ 'interface.view'|trans }}</a>
                </div>
            </div>
        </div>
    {% endif %}

    {# If a trip just happened and need a feedback | USER IS A LOCAL #}
    {% if feedbackAsLocal %}
        {% if feedbackAsLocal|length > 1 %}
            <div class="col-md-4 ">
                <div class="p-l-20 p-r-20  p-b-20 b-a b-thick b-warning bg-white profile-dashboard-card">
                    <h4 class="text-center">{{ 'profile.giveFeedbackTitle'|trans }}</h4>
                    <div class="text-center"><i class="fa fa-star fa-3x"></i></div>
                    <div class="m-t-20">
                        {{ 'profile.rateMutipleAsLocal'|trans }}
                    </div>
                    <div class="m-t-20 text-center">
                        <a href="{{ path('booking_received_list', {'display': 'happened'}) }}" class="btn btn-complete">{{ 'interface.giveFeedback'|trans }}</a>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-md-4 ">
                <div class="p-l-20 p-r-20  p-b-20 b-a b-thick b-warning bg-white profile-dashboard-card">
                    <h4 class="text-center">{{ 'profile.giveFeedbackToTitle'|trans({'%user%': feedbackAsLocal.user.firstname})|raw }}</h4>
                    <div class="text-center"><i class="fa fa-star fa-3x"></i></div>
                    <div class="m-t-20">
                        {{ 'profile.rateAsLocal'|trans({'%user%': feedbackAsLocal.user.firstname })|raw }}
                    </div>
                    <div class="m-t-20 text-center">
                        <a href="{{ path('booking_received_view', {'booking_id': feedbackAsLocal.id, 'user_id' : user.id }) }}" class="btn btn-complete">{{ 'interface.giveFeedback'|trans }}</a>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}

    {# If a trip just happened and need a feedback | USER IS A TRAVELER #}
    {% if feedbackAsTraveler %}
        {% if feedbackAsTraveler|length > 1 %}
            <div class="col-md-4">
                <div class="p-l-20 p-r-20  p-b-20 b-a b-thick b-warning bg-white profile-dashboard-card">
                    <h4 class="text-center">{{ 'profile.giveFeedbackTitle'|trans }}</h4>
                    <div class="text-center"><i class="fa fa-star fa-3x"></i></div>
                    <div class="m-t-20">
                        {{ 'profile.rateMultipleAsTraveler'|trans }}
                    </div>
                    <div class="m-t-20 text-center">
                        <a href="{{ path('booking_received_list', {'display': 'happened'}) }}" class="btn btn-complete">{{ 'interface.giveFeedback'|trans }}</a>
                    </div>
                </div>
            </div>
        {%  else %}
            <div class="col-md-4 ">
                <div class="p-l-20 p-r-20  p-b-20 b-a b-thick b-warning bg-white profile-dashboard-card">
                    <h4 class="text-center">{{ 'profile.giveFeedbackToTitle'|trans({'%user%': feedbackAsTraveler.user.firstname})|raw }}</h4>
                    <div class="text-center"><i class="fa fa-star fa-3x"></i></div>
                    <div class="m-t-20">
                        {{ 'profile.rateAsTraveler'|trans({'%city%': feedbackAsTraveler.experience.city.name})|raw }}
                    </div>
                    <div class="m-t-20 text-center">
                        <a href="{{ path('booking_sent_list', {'booking_id': feedbackAsTraveler.id, 'user_id' : user.id }) }}" class="btn btn-complete">{{ 'interface.giveFeedback'|trans }}</a>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}

    {# If a new request has been received #}
    {% if newRequest %}
        <div class="col-md-4 ">
            <div class="p-l-20 p-r-20  p-b-20 b-a b-thick b-warning bg-white profile-dashboard-card">
                <h4 class="text-center">{{ 'profile.newRequest'|trans }}</h4>
                <div class="text-center"><i class="fa fa-exclamation-circle fa-3x"></i></div>
                <div class="m-t-20">
                    {{ 'profile.newRequestText'|trans({'%user%': newRequest.user.firstname, '%experience%': newRequest.experience.title})|raw }}
                </div>
                <div class="m-t-20 text-center">
                    <a href="{{ path('booking_received_view', {'booking_id': newRequest.id, 'user_id' : user.id }) }}" class="btn btn-complete">{{ 'interface.view'|trans }}</a>
                </div>
            </div>
        </div>
    {% endif %}

    {# If an experience has been refused or accepted#}
    {% if moderatedExperiences %}
        {% for experience in moderatedExperiences %}
            <div class="col-md-4">
                {% if experience.publicationStatus == "refused" %}
                    <div class="p-l-20 p-r-20  p-b-20 b-a b-thick b-danger bg-white profile-dashboard-card">
                        <h4 class="text-center">{{ 'profile.experienceRefused'|trans }}</h4>
                        <div class="text-center"><i class="fa fa-frown-o fa-3x"></i></div>
                        <div class="m-t-20 text-center">
                            {{ 'profile.experienceRefusedText'|trans({'%experience%': experience.title, '%reason%': experience.refusedFor})|raw }}
                        </div>
                        <div class="m-t-20 text-center">
                            <a href="{{ path('front_experience_profile_list') }}" class="btn btn-complete">{{ 'interface.view'|trans }}</a>
                        </div>
                    </div>
                {% elseif experience.publicationStatus == "published" %}
                    <div class="p-l-20 p-r-20  p-b-20 b-a b-thick b-success bg-white profile-dashboard-card">
                        <h4 class="text-center">{{ 'profile.experienceAccepted'|trans }}</h4>
                        <div class="text-center"><i class="fa fa-smile-o fa-3x"></i></div>
                        <div class="m-t-20 text-center">
                            {{ 'profile.experienceAcceptededText'|trans({'%experience%': experience.title})|raw }}
                        </div>
                        <div class="m-t-20 text-center">
                            <a href="{{ path('front_experience_view', {'experience_id': experience.id}) }}" class="btn btn-complete">{{ 'interface.view'|trans }}</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}
</div>