{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain "user" %}

{#{% form_theme form with ["::frontTheme.html.twig"] %}#}

{% block profile_header_class 'bg-primary-dark' %}

{% block main_info_class 'bg-white' %}

{% block profile_content %}
    <!-- LOAD MAIN INFO BLOCK -->
    {{ parent() }}

    <!-- START USER CONTENT -->
        <div id="user-content" class="m-t-30">
            <div id="user-proposed-experience" class="m-b-20">
                <h2 class="m-b-30">Adventure</h2>
                {% if proposedExperiences|first  %}
                    {{ include("WelcomangoExperienceBundle:Experience:_featuredExperience.html.twig", { 'experience': proposedExperiences|first}) }}
                {% endif %}
            </div>
            <div id="user-description">
                <h2>About {{ user.firstname}}</h2>
                <hr style="margin-top:25px"/>
                <p>{{ user.description|nl2br|raw }}</p>
            </div>
        </div>
    <!-- END USER CONTENT -->
{% endblock %}

{% block extra_content %}
    <!-- START PAST EXPERIENCES SECTION -->
    <section class="container-fluid bg-master-lighter container-fixed-lg p-b-50">
        <div class="row">
            <div class="container">
                <div class="text-center m-b-40 m-t-40">
                    <h2>Last experiences attented by {{ user.firstname }}</h2>
                </div>
                {% for experience in attendedExperiences  %}
                    {{ include("WelcomangoExperienceBundle:Experience:_experienceTile.html.twig", { 'experiences': attendedExperiences, 'column': 3, 'limit': 3}) }}
                {% endfor %}
            </div>
        </div>
        <div id="userMap"></div>
    </section>
    <!-- END PAST EXPERIENCES SECTION -->
{% endblock extra_content %}




{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript">
        google.maps.event.addDomListener(window, 'load', init);

        var map;
        var zoomLevel = 11;

        function init() {
            // Basic options for a simple Google Map
            // For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
            var mapOptions = {
                // How zoomed in you want the map to start at (always required)
                zoom: zoomLevel,
                disableDefaultUI: true,
                // The latitude and longitude to center the map (always required)
                center: new google.maps.LatLng(40.6700, -73.9400), // New York
            };

            // Get the HTML DOM element that will contain your map
            // We are using a div with id="map" seen below in the
            var mapElement = document.getElementById('userMap');

            // Create the Google Map using out element and options defined above
            map = new google.maps.Map(mapElement, mapOptions);
        }
    </script>
{% endblock %}
