{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain "interface" %}

{#{% form_theme form with ["::frontTheme.html.twig"] %}#}

{% block profile_header_class 'bg-pattern-orange' %}

{% block main_info_class 'bg-white' %}

{% block sub_profile_picture %}
    <div id="profile-menu-left" class="bg-white m-t-10 p-b-10">
        <div id="profile-menu-title" class="text-center link-black">
            <h4>{{ 'global.feedbacks'|trans }}</h4>
        </div>
        <div class="dotted-line"><span></span></div>
        <div id="user-menu-items" class="text-center">
            <ul>
                <li class="user-menu-item">
                    <div class="m-b-5">{{ 'profile.noteTraveler'|trans }}</div>
                    <div>{{ include("WelcomangoCoreBundle:Core:note.html.twig", { 'note': user.getNoteAsTraveler, 'mango': true}) }}</div>
                </li>
                <li class="user-menu-item">
                    <div class="m-b-5">{{ 'profile.noteLocal'|trans }}</div>
                    <div>{{ include("WelcomangoCoreBundle:Core:note.html.twig", { 'note': user.getNoteAsLocal, 'mango': true}) }}</div>
                </li>
            </ul>
        </div>
    </div>
{% endblock sub_profile_picture %}

{% block profile_content %}
    <!-- LOAD MAIN INFO BLOCK -->
    {{ parent() }}

    <!-- START USER CONTENT -->
        <div id="user-content" class="m-t-30">
            <div id="user-proposed-experience" class="m-b-20">
                <h2 class="m-b-30">{{ 'profile.proposedExperiences'|trans }}</h2>
                <hr/>
                {% if proposedExperiences.first %}
                    {% for experience in  proposedExperiences %}
                        {% if experience == proposedExperiences.first%}
                            <div class="row">
                                {{ include("WelcomangoExperienceBundle:Experience:_featuredExperience.html.twig", { 'experience': experience}) }}
                            </div>
                        {% else %}
                            {{ include("WelcomangoExperienceBundle:Experience:_experienceTile4.html.twig", { 'experience': experience, 'column': 2}) }}
                        {% endif %}
                    {% endfor %}
                {% else %}
                        <div class="hint-text fs-i">{{ 'profile.noExperienceProposed'|trans }}</div>
                {% endif %}
            </div>
            <div id="user-description">
                <div class="row">
                    <div class="col-md-12">
                        <h2>{{ 'profile.about'|trans({'%user%': user.firstname})}}</h2>
                        <hr style="margin-top:25px"/>
                    </div>
                    <div class="col-md-12">
                        <p>{{ user.description|nl2br|raw }}</p>
                    </div>
                </div>
            </div>
        </div>
    <!-- END USER CONTENT -->
{% endblock %}

{% block extra_content %}
    <!-- START COMMENT SECTION -->
    <section class="container-fluid bg-master-lighter container-fixed-lg p-b-50">
        <div class="row">
            <div class="container">
                <div class="m-b-40 m-t-40">
                    <h2 class="text-center m-b-40">{{ 'global.comments'|trans }}</h2>
                    <div id="experience-comments">
                        {% include("WelcomangoBookingBundle:Feedback:list.html.twig") with { 'feedbacks': feedbacks } %}
                        {% if feedbacks is empty %}
                            <div class="text-center hint-text" style="font-style:italic">{{ 'experience.noFeedbacksReceived'|trans }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END COMMENT SECTION -->

    <!-- START PAST EXPERIENCES SECTION -->
    <section class="container-fluid bg-master-lightest container-fixed-lg p-b-20">
        <div class="row">
            <div class="container">
                <div class="text-center m-b-40 m-t-40">
                    <h2>{{ 'profile.lastExperiencesAttended'|trans({'%user%': user.firstname }) }}</h2>
                </div>
            </div>
        </div>
    </section>
    <div id="userMap" style="height:700px; width:100%"></div>
    <section class="container-fluid bg-master-lightest container-fixed-lg p-b-50 p-t-40">
        <div class="row">
            <div class="container">
                {% for experience in attendedExperiences  %}
                    {{ include("WelcomangoExperienceBundle:Experience:_experienceTile.html.twig", { 'experiences': attendedExperiences, 'column': 3, 'limit': 3}) }}
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- END PAST EXPERIENCES SECTION -->
{% endblock extra_content %}




{% block javascripts %}
    {{ parent() }}

    {% include "WelcomangoExperienceBundle:Experience:_experienceTileJs.html.twig" %}

    <script type="text/javascript">

        var map;
        var mainCityLatLng;
        var markerImage = '{{ asset('bundles/welcomangocore/images/welcomango-picto-full-small.png') }}';
        var markerMainCityImage = '{{ asset('bundles/welcomangocore/images/welcomango-picto-full-main-city-small.png') }}';

        function initMap() {
            var geocoder =  new google.maps.Geocoder();
            geocoder.geocode( { 'address': '{{ user.currentCity.name }},{{ user.currentCity.country.name }}'}, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    var cityLat = results[0].geometry.location.lat();
                    var cityLng = results[0].geometry.location.lng();

                    mainCityLatLng = {lat: cityLat, lng: cityLng};

                    map = new google.maps.Map(document.getElementById('userMap'), {
                        center: mainCityLatLng ,
                        zoom: 5,
                        scrollwheel: false,
                        styles: [{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#6195a0"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"landscape","elementType":"geometry.fill","stylers":[{"color":"#ffffff"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"poi.park","elementType":"geometry.fill","stylers":[{"color":"#e6f3d6"},{"visibility":"on"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45},{"visibility":"simplified"}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#f4d2c5"},{"visibility":"simplified"}]},{"featureType":"road.highway","elementType":"labels.text","stylers":[{"color":"#4e4e4e"}]},{"featureType":"road.arterial","elementType":"geometry.fill","stylers":[{"color":"#f4f4f4"}]},{"featureType":"road.arterial","elementType":"labels.text.fill","stylers":[{"color":"#787878"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#eaf6f8"},{"visibility":"on"}]},{"featureType":"water","elementType":"geometry.fill","stylers":[{"color":"#eaf6f8"}]}]

                    });

                    var mainCityMarker = new google.maps.Marker({
                        position: mainCityLatLng,
                        map: map,
                        title: 'Current City',
                        icon: markerMainCityImage
                    });
                }
            });

            {% for experience in attendedExperiences  %}

                var contentString_{{ experience.id }} = '<div id="content">'+
                        '<div id="siteNotice">'+
                        '</div>'+
                        '{{ display_avatar(experience.getCreator, true, false, 'experience-map-user-picture m-r-10') }}'+
                        '<h4 id="firstHeading" class="firstHeading p-t-15 p-b-10 ">{{ experience.title }} with <span class="text-primary">{{ experience.getCreator }}</span></h4>'+
                        '<div class="dotted-line"><span></span></div>'+
                        '<div id="bodyContent">'+
                        '<p>{% spaceless %}{{ experience.description|raw|truncate(200)|replace({"\n":' ', "\r":' '})}}{% endspaceless %}</p> '+
                        '<div class="text-right"><a href="{{ path('front_experience_view', {'slug' : experience.slug }) }}">See more</a></div>'+
                        '</div>'+
                        '</div>';

                var infowindow = new google.maps.InfoWindow({
                    content: contentString_{{ experience.id }},
                    maxWidth: 350
                });

                var geocoder_{{ experience.id }} =  new google.maps.Geocoder();
                geocoder_{{ experience.id }}.geocode( { 'address': '{{ experience.city.name }},{{ experience.city.country.name }}'}, function (results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        var cityLat_{{ experience.id }} = results[0].geometry.location.lat();
                        var cityLng_{{ experience.id }} = results[0].geometry.location.lng();

                        var mainCityLatLng_{{ experience.id }} = {lat: cityLat_{{ experience.id }}, lng: cityLng_{{ experience.id }}};

                        var marker_{{ experience.id }} = new google.maps.Marker({
                            position: mainCityLatLng_{{ experience.id }},
                            map: map,
                            title: marker_{{ experience.id }},
                            icon: markerImage,
                            animation: google.maps.Animation.DROP
                        });

                        marker_{{ experience.id }}.addListener('click', function() {
                            if (infowindow) infowindow.close();
                            infowindow.setContent(contentString_{{ experience.id }});
                            infowindow.open(map, marker_{{ experience.id }});
                        });

                    }
                });
            {% endfor %}

        }


    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_qJ8MCJCC_Ywx9dmgsBPLAsXlPRhfrz8&callback=initMap">
    </script>

{% endblock %}
