{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form with ["::frontTheme.html.twig"] %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
<div class="hint-text m-b-10 p-l-5">{{ 'login.password.currentHint'|trans({}, 'interface') }}</div>
{{ form_row(form.current_password) }}

<div class="hint-text m-b-10 m-t-15 p-l-5">{{ 'login.password.passwordHint'|trans({}, 'interface') }}</div>
{{ form_widget(form) }}
<div>
    <input type="submit" class="btn btn-complete pull-right m-t-10" value="{{ 'change_password.submit'|trans }}" />
</div>
{{ form_end(form) }}
