{% extends "WelcomangoAdminCoreBundle:CRUD:index.html.twig" %}

{% trans_default_domain "crm" %}

{% block actions %}
   {{ button.create(path('admin_language_create'), 'language.create'|trans) }}
{% endblock %}

{% set pager_url = path('admin_language_list') %}
{% set number_per_page = false %}

{% block no_results %}
    <div class="alert">
        <strong>{{ 'interface.noresult'|trans({}, "interface") }}</strong>
    </div>
{% endblock %}

{% block table_head %}
    <tr>
        <th style="width: 30%;">{{ 'language.flag'|trans }}</th>
        <th>{{ knp_pagination_sortable(pagination, 'language.label'|trans, 'language.language')|raw }}</th>
        <th>{{ knp_pagination_sortable(pagination, 'language.language_code'|trans, 'language.languageCode')|raw }}</th>
        <th>{{ "interface.actions"|trans }}</th>
    </tr>
{% endblock %}

{% block table_body %}
    {% include "WelcomangoAdminCrmBundle:Language:_languageRow.html.twig" with { 'language' : entity } %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
