{% trans_default_domain 'email' %}

{% block subject %}
    {% autoescape false %}
    {{ 'email.subject.newMessage'|trans({'%user%': name}) }}
    {% endautoescape %}
{% endblock %}

{% block body_text %}
    {% autoescape false %}
        Message received from {{ name }}: {{ message }}

        {% if user %}
            User profile: {{ path('admin_user_edit', {'user_id': user.id}) }}
        {% endif %}
    {% endautoescape %}
{% endblock %}

{% block body_html %}
    {% autoescape false %}
    <div>Message received: {{ message }}</div>
    <br/>
    {% if user %}
        <div>User profile (if any): {{ path('admin_user_edit', {'user_id': user.id}) }}</div>
    {% endif %}
    {% endautoescape %}
{% endblock %}
