{% extends "WelcomangoEmailBundle:EmailTemplate:template.html.twig" %}

{% trans_default_domain 'interface' %}

{% block mainTitle %}
    {% autoescape false %}
    {{ 'global.booking'|trans }}
    {% endautoescape %}
{% endblock %}

{% block coreTitle %}
    {% autoescape false %}
    {{ 'email.booking.update.coreTitle'|trans({'%status%': booking.status}) }}
    {% endautoescape %}
{% endblock %}

{% block subTitle %}
    {% autoescape false %}
    {{ 'email.booking.update.subTitle'|trans({'%title%': booking.experience.title, '%user%': booking.experience.getCreator.firstname, '%status%': booking.status}) }}
    {% endautoescape %}
{% endblock %}

{% block btn%}
    {% autoescape false %}
        <a style="border-radius:3px; text-decoration: none; margin:auto; color: #fff; background-color: #F34B1F; border-color: #F34B1F; padding: 10px 20px 10px 20px;font-size: 14px; letter-spacing: 0.14px; line-height: 21px; text-transform: uppercase;  font-family: Montserrat; font-weight: 400;" href="{{ path('booking_sent_view', {'booking_id': booking.id}) }}" style="">{{ 'email.booking.update.btn'|trans }}</a><br/>
    {% endautoescape %}
{% endblock %}

{% block message %}
    {% autoescape false %}
    {{ 'email.booking.update.message'|trans({'%user%': booking.experience.getCreator.firstname})}}
    {% endautoescape %}
{% endblock %}
