{% extends "WelcomangoCoreBundle:Core:pageLayout.html.twig" %}

{% block header_image %}
    {% if page.banner %}
        {{ asset(page.banner.getPath() ~ page.banner.originalFilename) }}
    {% else %}
        {{ asset('bundles/welcomangocore/images/experience_default/places-' ~ random(18) ~'.jpg') }}
    {% endif %}
{% endblock %}

{% block meta_title %}
    {{ page.title }} - Welcomango
{% endblock %}

{% block header_title %}
    {{ page.title }}
{% endblock %}

{% block header_text %}
{% endblock %}

{% block main_content %}
    <section class="container-fluid container-fixed-lg p-b-50 p-t-30 bg-master-lightest">
        <div class="container">
            <!-- START LEFT MENU CARD -->
            <div class="panel col-sm-3 bg-master-lightest">
                <div id="content-menu" class="font-montserrat">
                    {% for category in categories %}
                        <div class="light font-montserrat fs -15 content-menu-category p-b-10 p-t-10 b-b b-grey">{{ category.name }}</div>
                        {% for link in category.pages %}
                            {% if link.publicationStatus == 'published' %}
                                <div class="fs-13 p-t-10"><a class="content-menu-links" href="{{ path('page_view_slug', {'slug': link.slug}) }}">{{ link.title }}</a></div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
            <!-- END USER CARD -->

            <!-- START PAGE  CONTENT -->
            <div class="col-sm-9 bg-master-lightest">
                <div id="content-page" class="bg-white b-a b-grey">
                    {{ page.content|raw }}
                </div>
            </div>
            <!-- END PAGE CONTENT -->
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        new WOW().init();
    </script>
{% endblock %}


