{% extends "WelcomangoCoreBundle:Core:pageLayout.html.twig" %}

{% block header_image %}
    {{ asset(page.banner.getPath() ~ page.banner.originalFilename) }}
{% endblock %}

{% block meta_title %}
    {{ page.title }} - Welcomango
{% endblock %}

{% block header_title %}
    {{ page.title }}
{% endblock %}

{% block header_text %}
{% endblock %}

{% block main_content %}
    <section class="container-fluid container-fixed-lg p-b-50 p-t-30 bg-master-lightest">
        <div class="container">
            <div class="subHeader m-b-30">
                <a href=""><i class="fa fa-long-arrow-left"></i> {{ 'article.backToArticles'|trans }}</a>
            </div>


            <!-- START PAGE  CONTENT -->
            <div>
                {{ page.content|raw }}
            </div>

            <!-- END PAGE CONTENT -->
        </div>
    </section>
{% endblock %}