{% extends '::front.html.twig' %}

{% block meta_title %}
{% endblock %}

{% block page_content %}

    <section class="p-b-20 bg-primary sm-no-margin ">
        <div class="container p-t-50">
            <div class="row">
                <div class="col-md-3"><br/></div>
                <div class="col-md-9">
                    <h2 class="text-white">{{ 'profile.welcomeBack'|trans }} {{ app.user.firstname }} {{ app.user.lastname|upper }}!</h2>
                    <h4 class="text-white">{{ app.user.currentCity.name}}, {{ app.user.currentCity.country.name}}</h4>
                    <h4 class="text-white">{{ app.user.getAge}}</h4>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid container-fixed-lg p-b-50  bg-white">
        <div class="container">
            <!-- START USER CARD -->
            <div class="panel col-md-3">
                <div id="user-picture-container">
                    {% if app.user.getMedias.first %}
                        <div class="user-picture user-img-1" style="background-image:url({{ asset(app.user.getMedias.first.getWebPath) }})"></div>
                    {% else %}
                        <div class="user-picture user-img-1" style="background-image:url({{ asset("img/front/faces/face" ~ random(8) ~ ".jpg") }})"></div>
                    {% endif %}
                </div>

                {% block sub_profile_picture %}
                {% endblock sub_profile_picture %}

            </div>
            <!-- END USER CARD -->

            <!-- START USER CONTENT -->
            <div class="col-md-9">
                {% block profile_content %}
                {% endblock profile_content %}
            </div>
            <!-- END USER CONTENT -->
        </div>
    </section>

{% endblock page_content %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}