{% trans_default_domain "admin" %}

{# Complete with correct informations #}
<tr>
    <td>
{#        {% include "YproxAdminCrmBundle:User:_userLink.html.twig" %}#}
        {{ experience.getTitle }}
    </td>
    <td>
        {{ experience.getDescription }}
    </td>
    <td>
        {{ experience.getCreator.fullname }}
    </td>
    <td>
        {% if experience.publicationStatus == 'published' %}
            <span class="text-success">{{ 'interface.published'|trans }}</span>
        {% elseif experience.publicationStatus  == 'refused' %}
            <span class="text-warning">{{ 'interface.refused'|trans }}</span>
        {% else %}
            <span class="text-warning">{{ 'interface.pending'|trans }}</span>
        {% endif %}
    </td>
    <td>
        {% if experience.getCity is not null %}
            {{ experience.getCity.Name }}
        {% endif %}
    </td>
    <td>
        {% spaceless %}
            <div class="btn-toolbar">
                {{ button.edit(path('admin_experience_edit', {'experience_id': experience.id}), false, "btn-xs") }}
                {{ button.delete(path('admin_experience_delete', {'experience_id': experience.id}), null, "btn-xs") }}
            </div>
        {% endspaceless %}
    </td>
</tr>

