<div class="panel panel-default p-l-20 p-r-20 p-t-20 p-b-20">
    <div class="row">
        {% if experience.createdAt != experience.updatedAt %}
            <h5 class="col-md-12 text-center m-b-20 text-danger fs-i">Edited on {{ experience.updatedAt|date('d-m-Y') }}</h5>
        {% endif %}
        <div class="col-md-6 text-center b-r b-grey">
            <h4>Proposed by <a href="{{ path('admin_user_edit', {'user_id' : experience.getCreator.id }) }}">{{ experience.getCreator.fullname }}</a>, {{ experience.getCreator.getAge }}</h4>
            <div> Member since {{ experience.getCreator.createdAt|time_diff }}</div>
            <div class="m-t-20">
                {% for media in experience.medias %}
                    <div class="m-r-20" style="display:inline-block"><img src="{{ asset(media.getPath() ~ media.originalFilename)| imagine_filter('thumb120') }}"></div>
                {% endfor %}
            </div>
            <hr/>
            <h4>Details</h4>
            <div class="col-md-6">
                <div >
                    {{  'experience.estimatedDuration'|trans }}: <span class="text-black semi-bold">{{ experience.getEstimatedDuration}}h</span>
                </div>
                <div >
                    {{  'experience.maximumParticipants'|trans }}: <span class="text-black semi-bold">{{ experience.maximumParticipants}}</span>
                </div>
            </div>
            <div class="col-md-6">

                <div >
                    {{  'experience.minimunDuration'|trans }}: <span class="text-black semi-bold">{{ experience.getMinimumDuration}}h</span>
                </div>
                <div >
                    {{  'experience.maximumDuration'|trans }}: <span class="text-black semi-bold">{{ experience.getMaximumDuration}}h</span>
                </div>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <h4>Title: {{ experience.title }}</h4>
            <div class="bold">Taking place in {{ experience.city.name }}, {{ experience.city.country.name }}</div>
            <div class="m-t-10 fs-i">{{ display_tag(experience.tags) }}</div>
            <div class="m-t-20 ">
                {{ experience.description }}
            </div>
        </div>
        <div class="text-center col-md-12 m-t-30">
            {% set refuseRoute = path('admin_experience_refuse', {'experience_id': experience.id}) %}
            <button data-toggle="modal" data-target=".modal-action" class="btn btn-danger" onclick="updateRefuseModal('{{ refuseRoute }}')"><i class="fa fa-times"></i> {{ 'inteface.refuse'|trans }}</button>
            {{ button.validate(path('admin_experience_validate', {'experience_id': experience.id}), false, "btn") }}
            <div class="m-t-10"><a href="{{ path('admin_experience_edit', {'experience_id': experience.id}) }}">See full experience</a></div>
        </div>
    </div>
</div>