
<div class="col-md-12">
    <div class="panel panel-default portlet">
        <div class="panel-body">
            {{ form_start(form, {'action': save_path, 'attr': {'id': 'experienceForm'}}) }}
            {{ form_errors(form) }}
            <ul class="nav nav-tabs nav-tabs-fillup">
                <li class="active"><a data-toggle="tab" href="#general"><span>{{ "experience.informations.tab"|trans }}</span></a></li>
                <li><a data-toggle="tab" href="#credentials"><span>{{ "experience.credentials.tab"|trans }}</span></a></li>
                <li><a data-toggle="tab" href="#password"><span>{{ "experience.password.tab"|trans }}</span></a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active slide-left" id="general">
                    <div class="row">
                        <div class="col-sm-6">
                            {{ form_row(form.title) }}
                            <div class="col-md-6">{{ form_row(form.city ) }}</div>
                            <div class="col-md-6">{{ form_row(form.tags) }}</div>
                            <div class="row">
                                <div class="col-md-4">{{ form_row(form.minimum_duration,{'attr': {'class': 'form-control'}} ) }}</div>
                                <div class="col-md-4">{{ form_row(form.maximum_duration,{'attr': {'class': 'form-control'}} ) }}</div>
                                <div class="col-md-4">{{ form_row(form.estimated_duration,{'attr': {'class': 'form-control'}} ) }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">{{ form_row(form.medias,{'attr': {'class': 'form-control'}} ) }}</div>
                            </div>
                            {{ form_row(form.description)}}
                            <div class="row">
                                <div class="col-md-6">{{ form_row(form.maximum_participants,{'attr': {'class': 'form-control'}} ) }}</div>
                                <div class="col-md-6">{{ form_row(form.price_per_hour ) }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane slide-left" id="credentials">
                        <div class="col-md-8">
                            {#                                {{ form_row(form.roles, { 'label_helper' :  'user.helper.role'|trans }) }}
                                                            {{ form_row(form.enabled) }}#}
                        </div>
                    </div>
                    <div class="tab-pane slide-left" id="password">
                        <div class="col-md-8">
                            {#                                {{ form_row(form.plainPassword.first) }}
                                                            {{ form_row(form.plainPassword.second) }}#}
                        </div>
                    </div>
                </div>
                {% include "WelcomangoCoreBundle:Form:formFooter.html.twig" with {listing : listing, update: true } only %}
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
