{% extends "WelcomangoCoreBundle:AdminCRUD:index.html.twig" %}

{% trans_default_domain "admin" %}

{% form_theme form with ["::theme.html.twig"] %}

{% block actions %}
    {{ button.create(path('admin_experience_create'), 'experience.create'|trans) }}
{% endblock %}

{% set pager_url = path('admin_experience_list') %}
{% set number_per_page = false %}
{% set filter_url = path('admin_experiences_filters') %}

{% block filters %}
    {% include "WelcomangoExperienceBundle:AdminExperience:filter.html.twig" %}
{% endblock %}

{% block no_results %}
    <div class="alert">
        <strong>{{ 'interface.noresult'|trans({}, "interface") }}</strong>
    </div>
{% endblock %}

{% block table_head %}
    <tr>
        <th class="col-md-2">{{ knp_pagination_sortable(pagination, 'experience.title'|trans, 'e.title')|raw }}</th>
        <th class="col-md-4">{{ "experience.description"|trans }}</th>
        <th class="col-md-2">{{ knp_pagination_sortable(pagination, 'experience.creater'|trans, 'e.estimatedDuration')|raw }}</th>
        <th style="width: 8%">{{ knp_pagination_sortable(pagination, 'experience.price_per_hour'|trans, 'e.pricePerHour')|raw }}</th>
        <th>{{ "experience.city"|trans }}</th>
        <th>{{ "interface.actions"|trans }}</th>
    </tr>
{% endblock %}

{% block table_body %}
    {% include "WelcomangoExperienceBundle:AdminExperience:_experienceRow.html.twig" with { 'experience' : entity } %}
{% endblock %}

{% block additionnal_content %}
    {# render(controller("YproxAdminCrmBundle:Experience:experiencesByLastLogin")) #}
{% endblock %}

{% block dashboard_search %}
    <input id="experience_search" name="" type="text" class="no-boarder" placeholder="{{ "search.experience"|trans }}" style="width:250px;">
{% endblock %}

{% block search_results %}
    <div id="experience_results"></div>
{% endblock %}

{% block extra_actions %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var timeout;
        $(document).ready(function () {
            $('#experience_search').val('');
            $('#experience_search').on('keyup', function (event) {
                var query = $(this).val();

                clearTimeout(timeout);

                if (query.length > 2) {
                    timeout = setTimeout(function() {
                        $('#spinner').css('display', 'inline');
                        $.post("{{ path('admin_experience_search_ajax') }}", {'query': query}, function (response) {
                        $.post("{{ path('admin_experience_search_ajax') }}", {'query': query}, function (response) {
                            $('#spinner').css('display', 'none');
                            $('#experience_results').html(response);
                        }, 'html');
                    }, 500);
                }
            });

            $('.form-filter-select2').select2({
            });
        });
    </script>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
