{% extends "WelcomangoEmailBundle:EmailTemplate:template.html.twig" %}

{% trans_default_domain 'interface' %}

{% block mainTitle %}
    {% autoescape false %}
    Contact
    {% endautoescape %}
{% endblock %}

{% block coreTitle %}
    {% autoescape false %}
    New contact received about {{ category }} from {{ name }}
    {% endautoescape %}
{% endblock %}

{% block message %}
    {% autoescape false %}
    Message received: {{ message }}<br/><br/>
    {% if user %}
        <div>User profile (if any): {{ path('admin_user_edit', {'user_id': user.id}) }}</div>
    {% endif %}
    {% if issue_url  %}
        <div>Url of the issue (if any): {{ issue_url }}</div>
    {% endif %}
    {% endautoescape %}
{% endblock %}





