{% trans_default_domain 'interface' %}

<script src="{{ asset('js/dropzone.js') }}"></script>
<script type="text/javascript">
    var defaultMediaTemplate = '<div>DEFAULT</div>';
    Dropzone.autoDiscover = false;
    var medias = [];
    $(function () {
        var dropzone = new Dropzone("div#medias", {
            url: "{{ oneup_uploader_endpoint('gallery') }}",
            uploadMultiple: true,
            acceptedFiles: 'image/*',
            maxFilesize: 5,
            maxThumbnailFilesize: 5,
            dictRemoveFile: "{{ 'interface.remove'|trans }}",
            dictDefaultMessage: "{{ 'medias.drop_files_here'|trans }}",
            addRemoveLinks: true,
            init: function () {
                {% if form.vars.data.id and experience is defined %}
                {% for media in experience.medias %}
                var mockFile = {name: "{{ media.originalFilename }}", size: 99999};
                this.options.addedfile.call(this, mockFile);
                this.options.thumbnail.call(this, mockFile, "{{ asset(media.getPath() | imagine_filter('thumb120')) ~ media.originalFilename }}");
                mockFile.previewElement.classList.add('dz-success');
                mockFile.previewElement.classList.add('dz-complete');
                {% if media.default %}
                    mockFile.previewElement.classList.add("borderMediaDefaut");
                {% endif %}
                {% endfor %}
                {% endif %}
                initDefaultOption();
            }
        });

        var $container = $('div#front_experience_medias');
        $container.data('index', $container.find(':input').length);

        dropzone.on('successmultiple', function (file) {
            toggleDefaultMessage();
            file.forEach(function (fileName) {
                addPicture(fileName, $container);
            });
        });

        dropzone.on('removedfile', function (file) {
            if ($('input:hidden[value="' + file.name + '"]').parent().parent().hasClass('tmp-file')) {
                deleteTmpMedia(file.name);
            }
            toggleDefaultMessage();
            $('input:hidden[value="' + file.name + '"]').parent().parent().remove();
        });

        function addPicture(file, $container) {
            var index = $container.data('index');
            $container.append('' +
            '<div class="tmp-file" ><div id="front_experience_medias_' + index + '"><input type="hidden" id="front_experience_medias_' + index + '_originalFilename" name="front_experience[medias][' + index + '][originalFilename]" value="' + file.name + '" /><input type="hidden" class="defaultImageInput" id="front_experience_medias_' + index + '_default" name="front_experience[medias][' + index + '][default]" value="0" /></div>');
            $container.data('index', index + 1);
            initDefaultOption();
        }

        function deleteTmpMedia(filename) {
            var formData = new FormData();
            formData.append("tempName", filename);

            $.ajax({
                url: '{{ path('media_delete') }}',
                type: 'POST',
                data: formData,
                cache: false,
                contentType: false,
                processData: false
            });
        }

        function toggleDefaultMessage() {
            if ($("#medias > div.dz-preview").length > 0) {
                $('.dz-default').hide();
            } else {
                $('.dz-default').show();
            }
        }

        function initDefaultOption() {
            $('.dz-preview').on('click', function () {
                var filename = this.childNodes[3].childNodes[3].childNodes[0].innerHTML;
                var fileNameForm = document.querySelectorAll("input[value='"+filename+"']");

                $('.defaultImageInput').each(function () {
                    console.log(this);
                    this.value = 0;
                });

                $( ".dz-image" ).each(function() {
                    $(this).css("border", "none");
                    $(this).removeClass("text-success");
                });

                $(this).find('.dz-image').css("border", "solid 3px #F34B1F");
                $(this).find('.dz-image').addClass("text-success");

                fileNameForm[0].parentNode.childNodes[1].value = 1;
            });
        }

    });
</script>
