<div id="preview-template">
    <div class="dz-preview dz-file-preview">
        <div class="dz-details">
            <div class="dz-filename"><span data-dz-name></span></div>
            <div class="dz-size" data-dz-size></div>
            <div class="dz-id" data-dz-id></div>
            <img data-dz-thumbnail />
        </div>
        <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
        <div class="dz-error-message"><span data-dz-errormessage></span></div>
        <i class="fa fa-trash delete-icon" data-dz-remove></i>
    </div>
</div>

<script src="{{ asset('js/dropzone.js') }}"></script>
<script type="text/javascript">
    Dropzone.autoDiscover = false;
    var medias = [];
    $(function() {
        var dropzone = new Dropzone("div#medias", {
            url: "{{ oneup_uploader_endpoint('gallery') }}",
            uploadMultiple: true,
            acceptedFiles: 'image/*',
            maxFilesize: 5,
            maxThumbnailFilesize: 5,
            dictRemoveFile: "{{ 'medias.remove'|trans }}",
            dictDefaultMessage: "{{ 'medias.drop_files_here'|trans }}",
            addRemoveLinks: true,
            init: function () {
                {% for media in medias %}
                var mockFile = { name: "{{ media.originalFilename }}", size: 99999 };
                medias.push('{{ media.originalFilename }}');
                this.options.addedfile.call(this, mockFile);
                this.options.thumbnail.call(this, mockFile, "{{ asset(media.getPath() | imagine_filter('thumb120')) ~ media.originalFilename }}");
                mockFile.previewElement.classList.add('dz-success');
                mockFile.previewElement.classList.add('dz-complete');
                {% endfor %}
                computeMediaName();
                this.on("addedfile", function(file) {
                    if(file.size < 5000000) {
                        medias.push(file.name);
                        computeMediaName();
                    }
                });
                this.on("removedfile", function(file) {
                    $.post("{{ path('experience_media_delete') }}", {'file': file.name}, function (response) {}, 'html');
                    var index = medias.indexOf(file.name);
                    medias.splice(index, 1);
                    computeMediaName();
                });
            }
        });
    });


    function computeMediaName() {
        {% if hiddenInput is defined %}
            var input = '{{ hiddenInput }}';
            $('#'+input).val(medias.join(','));
        {% else %}
            $('#front_experience_medias_upload').val(medias.join(','));
        {% endif %}

    }

</script>
