<div id="preview-template">
    <div class="dz-preview dz-file-preview">
        <div class="dz-details">
            <div class="dz-filename"><span data-dz-name></span></div>
            <div class="dz-size" data-dz-size></div>
            <div class="dz-id" data-dz-id></div>
            <img data-dz-thumbnail />
        </div>
        <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
        <div class="dz-error-message"><span data-dz-errormessage></span></div>
        <i class="fa fa-trash delete-icon" data-dz-remove></i>
    </div>
</div>

<script src="{{ asset('js/dropzone.js') }}"></script>
<script type="text/javascript">
    Dropzone.autoDiscover = false;
    $(function() {
        var dropzone = new Dropzone("div#medias", {
            url: "{{ oneup_uploader_endpoint('gallery') }}",
            uploadMultiple: true,
            acceptedFiles: 'image/*',
            maxFilesize: 5,
            dictRemoveFile: "{{ 'medias.delete'|trans }}",
            dictDefaultMessage: "{{ 'medias.drop_files_here'|trans }}",
            previewTemplate: document.getElementById('preview-template').innerHTML,
            init: function () {
                {% for media in medias %}
                var mockFile = { name: "{{ media.path }}", size: 99999 };
                this.options.thumbnail.call(this, mockFile, "{{ asset(picture.webPath()) | imagine_filter('thumb250') }}");
                this.options.addedfile.call(this, mockFile);
                {% endfor %}
                this.on("addedfile", function(file) {
                    $('#mediasListName').html(file.name);
                });
                this.on("removedfile", function(file) {
                    $.post("{{ path('experience_media_delete') }}", {'file': file.name}, function (response) {}, 'html');
                });
            }
        });
    });
</script>
