<tr>
    <td>
        <img src="{{ asset(media.path ~ media.originalFilename)| imagine_filter('thumb120') }}" />
    </td>
    <td>
        {{ media.title}}
    </td>
    <td>
        {{ media.description }}
    </td>
    <td>
        {{ app.request.getSchemeAndHttpHost() ~ asset(media.getPath() ~ media.originalFilename) }}
    </td>
    <td>{% spaceless %}
            <div class="btn-toolbar">
                {{ button.edit(path('admin_media_edit', {'media_id': media.id}), false, "btn-xs") }}
                {{ button.delete(path('admin_media_delete', {'media_id': media.id}), null, "btn-xs") }}
            </div>
        {% endspaceless %}
    </td>
</tr>

