<div class="row">
    <div class="col-md-3">{{ form_row(formMedia.file) }}</div>
    <div class="col-md-3">{{ form_row(formMedia.title) }}</div>
    <div class="col-md-3">{{ form_row(formMedia.description) }}</div>
    <a onclick="deleteRow(this.parentNode)" href="#">delete this tag</a>
    <div id="previewMedia{{ formMedia.file.vars.id }}" class="col-md-3">{{ form_row(formMedia.description) }}</div>
    <div id=""></div>
</div>
<script type="text/javascript">
        function deleteRow(element) {
            element.remove();
        }
    $('#{{ formMedia.file.vars.id }}').change(function () {
        var formData = new FormData($('form')[0]);
        formData.append("formName", "{{ form.vars.name }}");
        formData.append("inputName", "{{ formMedia.file.vars.name }}");
        formData.append("templateReturn", "{{ form.medias.vars.attr.template }}");
        $.ajax({
            url: '{{ path('experience_media_upload') }}',  //Server script to process data
            type: 'POST',
            xhr: function () {  // Custom XMLHttpRequest
                var myXhr = $.ajaxSettings.xhr();
                if (myXhr.upload) { // Check if upload property exists

                }
                return myXhr;
            },
            //Ajax events
            error: function (request) {
                console.log(request);
            },
            success: function (data) {
                $('#previewMedia{{ formMedia.file.vars.id  }}').html("");
                $('#previewMedia{{ formMedia.file.vars.id  }}').append(data);
                updateMediaListField();
            },
            // Form data
            data: formData,
            //Options to tell jQuery not to process data or worry about content-type.
            cache: false,
            contentType: false,
            processData: false
        });
    });

    function deleteMedia(mediaId) {
        var data = {request: mediaId};
        $.post("{{ path('experience_media_delete') }}", {'mediaId': mediaId}, function (response) {
            $("#media_" + mediaId).remove();
            updateMediaListField();
        }, 'html');

    }

    function updateMediaListField() {
        var mediasIds = [];
        $('#sdf').html("");
        $("#medias").children('div').each(function () {
            var res = this.id.replace("media_", "");
            mediasIds.push(res);
        });
        // Used only for experiences Because of the flow form (severals steps form)
        $('#sdf').val(mediasIds.join());
    }

    $('#front_experience_step3_availability input[type=radio]').change(function () {
        console.log(this.value);
    });
</script>


