{% extends "::admin.html.twig" %}

{% trans_default_domain "crm" %}

{% set listing = path('admin_media_list') %}
{% form_theme form with ["::theme.html.twig"] %}

{% block page_content %}
    <div class="col-md-12">
        <div class="panel panel-default portlet">
            <div class="panel-body">
                {{ form_start(form, {'action': path('admin_media_create'), 'attr': {'novalidate': 'novalidate', 'id': 'mediaForm'}}) }}
                {% include "WelcomangoMediaBundle:AdminMedia:form.html.twig" with { 'form': form } %}
                <div id="datas" style="display: none">
                    <label>X1 <input type="text" size="4" id="x" name="x" /></label>
                    <label>Y1 <input type="text" size="4" id="y" name="y" /></label>
                    <label>X2 <input type="text" size="4" id="x2" name="x2" /></label>
                    <label>Y2 <input type="text" size="4" id="y2" name="y2" /></label>
                    <label>W <input type="text" size="4" id="w" name="w" /></label>
                    <label>H <input type="text" size="4" id="h" name="h" /></label>
                    <button type="button" class="btn btn-success" id="crop-media" >{{ 'crop.media'|trans }}</button>
                </div>
                {% include "WelcomangoCoreBundle:Form:formFooter.html.twig" with {'listing' : listing, 'update': form.vars.id } only %}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ form_stylesheet(form) }}
    <link rel="stylesheet" href="{{ asset("css/Jcrop.min.css") }}"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include "WelcomangoMediaBundle:Media:_baseJs.html.twig" with {
    'file_input_id' : 'admin_media_file',
    'id_crop_button' : "crop-media",
    'id_croped_media' : "media"
    } %}
    {{ form_javascript(form) }}
{% endblock %}
