{% extends "WelcomangoCoreBundle:AdminCRUD:index.html.twig" %}

{% trans_default_domain "core" %}

{% block actions %}
   {{ button.create(path('admin_media_create'), 'media.create'|trans) }}
{% endblock %}

{% set pager_url = path('admin_language_list') %}
{% set number_per_page = false %}

{% block no_results %}
    <div class="alert">
        <strong>{{ 'interface.noresult'|trans({}, "interface") }}</strong>
    </div>
{% endblock %}

{% block table_head %}
    <tr>
        <th style="width: 30%;">{{ 'media.thumb'|trans }}</th>
        <th>{{ knp_pagination_sortable(pagination, 'media.title'|trans, 'media.title')|raw }}</th>
        <th>{{ "interface.actions"|trans }}</th>
    </tr>
{% endblock %}

{% block table_body %}
    {% include "WelcomangoMediaBundle:AdminMedia:_mediaRow.html.twig" with { 'media' : entity } %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
