<!-- BEGIN JUMBOTRON -->
<section class="jumbotron vh-80" data-pages="parallax">
    <div class="inner full-height">
        <!-- BEGIN SLIDER -->
        <div class="swiper-container" id="hero">
            <div class="swiper-wrapper">
                <!-- BEGIN SLIDE -->
                <div class="swiper-slide fit">
                    <!-- BEGIN IMAGE PARRALAX -->
                    <div class="slider-wrapper">
                        {#<div class="image" data-swiper-parallax="30%" data-pages-bg-image="{{ asset("img/front/homepage-" ~ random(2) ~ ".jpg") }}" data-bg-overlay="black" data-overlay-opacity="0.2">#}
                        <div class="image" data-swiper-parallax="30%" data-pages-bg-image="{{ asset("img/front/homepage-2.jpg") }}" data-bg-overlay="black" data-overlay-opacity="0.2">
                        </div>
                    </div>
                    <!-- END IMAGE PARRALAX -->
                    <!-- BEGIN CONTENT -->
                    <div class="content-layer">
                        <div class="inner full-height">
                            <div class="container-xs-height full-height">
                                <div class="col-xs-height col-middle text-left">
                                    <div class="container">
                                        <div class="row">
                                            {{ form_start(form, {'action': filter_url, 'method': 'POST', 'attr': { 'novalidate': 'novalidate'+, 'class': 'filter' } }) }}
                                            <div class="col-md-9 col-md-offset-2 text-center">
                                                <h1 class="text-white sm-text-center bold" data-swiper-parallax="-15%">Places Through People</h1>
                                                <h4 class="text-white sm-text-center m-b-40">Find enthusiastic people willing to show you a different side of their city</h4>
                                            </div>
                                            <div class="row" >
                                                <div class="col-md-7 col-md-offset-3 text-center p-t-20 p-b-10" style="position:absolute; bottom: 100px; right:0px; left: 0px;">
                                                    <div class="col-md-7">
                                                        {{ form_row(form.city,  {'attr' : {'class' : 'form-filter-select2'} }) }}
                                                    </div>
                                                    <div class="col-md-3 text-left">
                                                        {{ form_row(form.date) }}
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div style="display: none">{{ form(form) }}</div>
                                                        <button type="submit" id="btn-filter" class="btn btn-complete btn-filter-inversed fs-16" style="width: 100%;">{{ 'interface.search'|trans({}, "interface") }}</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END CONTENT -->
                </div>
                <!-- END SLIDE -->
                <!-- BEGIN SLIDE -->
                <div class="swiper-slide fit">
                    <!-- BEGIN IMAGE PARRALAX -->
                    <div class="slider-wrapper">
                        <div class="image" data-swiper-parallax="30%" data-pages-bg-image="{{ asset("img/front/places-" ~ random(18) ~ ".jpg") }}" data-bg-overlay="black" data-overlay-opacity="0.2">
                        </div>
                    </div>
                    <!-- END IMAGE PARRALAX -->
                    <!-- BEGIN CONTENT -->
                    <div class="content-layer">
                        <div class="inner full-height">
                            <div class="container-xs-height full-height">
                                <div class="col-xs-height col-middle text-left">
                                    <div class="container">
                                        <div class="col-md-9 col-md-offset-2 text-center">
                                            <h1 class="text-white sm-text-center" data-swiper-parallax="-15%"> Join the community</h1>
                                            <h4 class="text-white sm-text-center">And show the world what is awesome about where you live</h4>
                                            <p class="fs-14 font-arial text-white sm-text-center">Meet people with common interested, get intrigued by your destination, discover a different side of the places you visit</p>
                                            <a href="{{ path('fos_user_registration_register') }}" class="btn btn-primary btn-lg m-t-40">Join now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END CONTENT -->
                </div>
                <!-- END SLIDE -->
            </div>
            <!-- Add Navigation -->
            <div class="swiper-navigation swiper-dark-solid swiper-button-prev"></div>
            <div class="swiper-navigation swiper-dark-solid swiper-button-next"></div>
        </div>
    </div>
    <!-- END SLIDER -->
</section>
<!-- END JUMBOTRON -->
