{% trans_default_domain 'interface' %}

<!-- BEGIN JUMBOTRON -->
<section id="homepage-swiper" class="jumbotron full-vh bg-master-darkest" data-pages="parallax">
    <div class="inner full-height">
        <!-- BEGIN SLIDER -->
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <!-- BEGIN SLIDE -->
                <div class="swiper-slide fit slide-1" data-pages-bg-image="{{ asset("bundles/welcomangocore/images/homepage/homepage-2.jpg") }}" data-bg-overlay="black" data-overlay-opacity="0.2">
                    <!-- BEGIN IMAGE PARRALAX -->
                    <div class="slider-wrapper">
                    </div>
                    <!-- END IMAGE PARRALAX -->
                    <!-- BEGIN CONTENT -->
                    <div class="content-layer">
                        <div class="inner full-height">
                            <div class="container-xs-height full-height">
                                <div class="col-xs-height col-middle text-center">
                                    <div class="container">
                                        <div class="row">
                                            {{ form_start(form, {'action': filter_url, 'method': 'POST', 'attr': { 'novalidate': 'novalidate', 'class': 'filter' } }) }}
                                            <div class="col-md-9 col-md-offset-2 text-center">
                                                <h1 class="text-white sm-text-center" data-swiper-parallax="-15%">{{ 'homepage.title1'|trans }}</h1>
                                                <h4 class="text-white sm-text-center">{{ 'homepage.subTitle1'|trans }}</h4>
                                                <h4 class="text-white sm-text-center m-b-40">{{ 'homepage.nextSubTitle1'|trans }}</h4>
                                            </div>
                                            <div class="row" >
                                                <div class="col-md-7 col-md-offset-3 text-center p-t-20 p-b-10" style="">
                                                    <div class="col-md-7">
                                                        {{ form_row(form.city,  {'attr' : {'class' : 'form-filter-select2'} }) }}
                                                    </div>
                                                    <div class="col-md-3 text-left">
                                                        {{ form_row(form.date) }}
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div style="display: none">{{ form(form) }}</div>
                                                        <button type="submit" id="btn-filter" class="btn btn-complete btn-filter-inversed fs-16" style="width: 99%; float:left">{{ 'interface.search'|trans({}, "interface") }}</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END CONTENT -->
                </div>
                <!-- END SLIDE -->
                <!-- BEGIN SLIDE -->
                <div class="swiper-slide fit slide-1" data-pages-bg-image="{{ asset("bundles/welcomangocore/images/experience_default/places-" ~ random(18) ~ ".jpg") }}" data-bg-overlay="black" data-overlay-opacity="0.2">
                    <!-- BEGIN IMAGE PARRALAX -->
                    <div class="slider-wrapper">
                    </div>
                    <!-- END IMAGE PARRALAX -->
                    <!-- BEGIN CONTENT -->
                    <div class="content-layer">
                        <div class="inner full-height">
                            <div class="container-xs-height full-height">
                                <div class="col-xs-height col-middle text-center">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-8 col-md-offset-2">
                                                <h1 class="text-white sm-text-center" data-swiper-parallax="-15%"> {{ 'homepage.title2'|trans }}</h1>
                                                <h4 class="text-white sm-text-center">{{ 'homepage.subTitle2'|trans }}</h4>
                                                <p class="fs-14 font-arial text-white sm-text-center">{{ 'homepage.nextSubTitle2'|trans }}</p>
                                                <a href="{{ path('fos_user_registration_register') }}" class="btn btn-primary btn-lg m-t-40 fs-16">{{ 'global.joinNow'|trans }}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END CONTENT -->
                </div>
                <!-- END SLIDE -->
            </div>
            <!-- Add Navigation -->
            <div class="swiper-navigation swiper-dark-solid swiper-button-prev auto-reveal"></div>
            <div class="swiper-navigation swiper-dark-solid swiper-button-next auto-reveal"></div>
        </div>
    </div>
    <!-- END SLIDER -->
</section>
<!-- END JUMBOTRON -->
